---
layout: default
title: Home
---

{% if page.url == "/" %}


{% endif %}


<div class="home">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h1 class="section-title animate__animated animate__fadeInDown">{{ site.title }}</h1>
        <p class="lead">{{ site.description }}</p>
      </div>
    </div>
    <div class="row">
      <!-- SEO Section -->
      <div class="col-12 mb-4">
        <h2 class="section-title animate__animated animate__fadeInLeft">SEO (Search Engine Optimization)</h2>
        <div class="row">
          {% for post in site.categories.seo limit: 6 %}
          <div class="col-md-4 col-sm-6 animate__animated animate__fadeIn">
            <div class="card">
<section class="recent-posts">

    <div class="section-title">

        <h2><span>Latest Posts</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
  
<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

    </div>
  </div>
</div>

