---
layout: default
title: Home
---

{% if page.url == "/" %}


{% endif %}
<div class="mainheading" >
   <h1 class="sitetitle">{{ site.name }}</h1>
    <p class="lead">
        {{ site.description }}
    </p> 
</div>

<!-- Posts Index
================================================== -->

 <div class="row">
    <div class="col-12 mb-4">
          {% for post in site.categories.seo limit: 6 %}
          <div class="col-md-4 col-sm-6 animate__animated animate__fadeIn">
            <div class="card">
             <div class="card-body">
                
<section class="recent-posts">

    <div class="section-title">

        <h2><span>Latest Posts</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

           </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      
                
<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>



