---
layout: home
---


<div class="home">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h1 class="section-title animate__animated animate__fadeInDown">{{ site.title }}</h1>
        <p class="lead">{{ site.description }}</p>
      </div>
    </div>
    <div class="row">
      <!-- SEO Section -->
      <div class="col-12 mb-4">
        <h2 class="section-title animate__animated animate__fadeInLeft">SEO (Search Engine Optimization)</h2>
        <div class="row">
          {% for post in site.categories.seo limit: 6 %}
          <div class="col-md-4 col-sm-6 animate__animated animate__fadeIn">
            <div class="card">
              <img src="{{ post.image }}" class="card-img-top" alt="{{ post.title }}">
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.excerpt }}</p>
                <a href="{{ post.url }}" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- Content Marketing Section -->
      <div class="col-12 mb-4">
        <h2 class="section-title animate__animated animate__fadeInRight">Content Marketing</h2>
        <div class="row">
          {% for post in site.categories.content-marketing limit: 6 %}
          <div class="col-md-4 col-sm-6 animate__animated animate__fadeIn">
            <div class="card">
              <img src="{{ post.image }}" class="card-img-top" alt="{{ post.title }}">
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.excerpt }}</p>
                <a href="{{ post.url }}" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- Tambahkan section lainnya dengan cara yang sama -->
    </div>
  </div>
</div>
