---
layout: default1
---









<link rel="stylesheet" href="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.css" type="text/css" />
<script src="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.js"></script><center>
<video id='4041' controls autoplay loop muted style="max-width:100%; height:auto;" >
   <source src='https://video.twimg.com/ext_tw_video/1827061434326642688/pu/vid/avc1/802x360/9NLh2jLOtwh1fNYc.mp4' title='{{ page.title }}' type='video/mp4' />
</video></center>
<script type="application/javascript">
    var testVideo = fluidPlayer(
        "4041",
{
	"layoutControls": {
		"controlBar": {
			"autoHideTimeout": 1,
			"animated": true,
			"autoHide": true
		},
		"htmlOnPauseBlock": {
			"html": null,
			"height": null,
			"width": null
		},
		"autoplay": true,
		"mute": true,
		"allowTheatre": true,
		"playPauseAnimation": true,
		"playbackRateEnabled": true,
		"allowDownload": true,
		"playButtonShowing": true,
		"fillToContainer": true,
		"posterImage": "{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}"
	},
	"vastOptions": {
	"adList": [
                    {
                        "roll": "preRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=ada2ce975f0d25fb2eb0be99b4e7d14a"
                    },
                    {
                        "roll": "midRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=0265840d4e6bd543c018981a01edca89",
                        "timer": "1"
                    },
                    {
                        "roll": "midRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=b320bff569bb5535540366abcef11a09",
                        "timer": "2"
                    },
{
                        "roll": "midRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=f76eb4092d4b94ed2411172982571a87",
                        "timer": "3"
                    },
		{
                        "roll": "midRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=0265840d4e6bd543c018981a01edca89",
                        "timer": "4"
                    },
                    {
                        "roll": "midRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=0265840d4e6bd543c018981a01edca89",
                        "timer": "5"
                    },
                    {
                        "roll": "midRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=0265840d4e6bd543c018981a01edca89",
                        "timer": 6
                    },
                    {
                        "roll": "midRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=0265840d4e6bd543c018981a01edca89",
                        "timer": 7
                    },
                    {
                        "roll": "midRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=0265840d4e6bd543c018981a01edca89",
                        "timer": 8
                    },
                    {
                        "roll": "midRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=0265840d4e6bd543c018981a01edca89",
                        "timer": 9
                    },
                    {
                        "roll": "midRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=0265840d4e6bd543c018981a01edca89",
                        "timer": 10
                    },
                    {
                        "roll": "midRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=0265840d4e6bd543c018981a01edca89",
                        "timer": 11
                    },
                    {
                        "roll": "midRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=0265840d4e6bd543c018981a01edca89",
                        "timer": 12
                    },
                    {
                        "roll": "midRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=0265840d4e6bd543c018981a01edca89",
                        "timer": 13
                    },
            ]
        }
}
    );
</script>

<ul id="category-posts">
	<h2>{{ page.title }}</h2>
  {% for post in site.posts %}
    {% if post.categories contains page.category %}
      <li id="post-{{ post.id }}">
        <a href="{{ post.url }}">
          {% if post.image %}
            <img src="{{ post.image }}" alt="{{ post.title }}" id="post-image-{{ post.id }}" class="post-image">
          {% endif %}
          <br />{{ post.title }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>

<div class="spo">
<details><summary>...</summary><div class="tresna" loading="lazy">
<script src="https://rawgit.com/rezamuhamad/rakinfo/master/sitemap.js"></script>
<script src="https://ahctpac.blogspot.com/feeds/posts/default/?start-index=1&max-results=5555&alt=json-in-script&callback=rak_info_Load"></script>
</div></details>
</div>
