---
layout: default1
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">

        <!-- Post Share -->
        <div class="col-md-2 pl-0">
            {% include share.html %}
        </div>

        <!-- Post -->
        {% assign author = site.authors[page.author] %}

        <div class="col-md-9 flex-first flex-md-unordered">
            <div class="mainheading">

                

                <!-- Post Title -->
                <h1 class="posttitle">{{ page.title }}</h1>

            </div>

            

            <!-- Post Featured Image -->
            {% if page.image %}

            {% if site.lazyimages == "enabled" %}
            <img class="featured-image img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% else %}
            <img class="featured-image img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% endif %}

            {% endif %}
            <!-- End Featured Image -->

            <!-- Post Content -->
            <div class="article-post">
                <!-- Toc if any -->
                {% if page.toc %}
                    {% if page.beforetoc %}
                        <p><em>{{page.beforetoc}}</em></p>
                    {% endif %}
                    <div class="toc mt-4 mb-4 lead">
                        <h3 class="font-weight-bold">Summary</h3>
                        {% include toc.html html=content %}
                    </div>
                {% endif %}
                <!-- End Toc -->
               
                {{content}}

<a id="show_id" onclick="document.getElementById('spoiler_id').style.display=''; document.getElementById('show_id').style.display='none';"></a><span id="spoiler_id" style="display: none;"><a class="link" onclick="document.getElementById('spoiler_id').style.display='none'; document.getElementById('show_id').style.display='';"></a>
<div style="background-color: rgba(0, 0, 0, 0); margin: 1px;">
<div class="smallfont"><i><span style="font-size: 16px; font-weight: bold; margin-right: 3px;"></span></i><input onclick="if (this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display != '') { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = ''; this.innerText = ''; this.value = ''; } else { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = 'none'; this.innerText = ''; this.value = ''; }" style="background-color: #00000000; font-size: 16px; width: auto;" type="button" value="" />
</div>
<div class="alt2" style="background-color: rgba(255, 255, 255, 0); margin: 0px; padding: 0px;">
<div style="display: none;" loading="lazy">





𝐌 𝐀 𝐑 ❤︎︎
 ymaika1
ymaika1
Nyanbor
 desidansoa
desidansoa
DESI 🇳🇬🇬🇭
 lyme_juice
lyme_juice
Elykia 🌸✨
 negraitta
negraitta
🇹🇬
 jazeerasby
jazeerasby
3 0 0 👑
 chocodamiix
chocodamiix
Dami |Da-Me-Loe-La| Abraham
 maretamee
maretamee
Mar
 thenyla_
thenyla_
Nya
 taliyahmykel
taliyahmykel
T-aliyah
 athenaarr
athenaarr
Athena
 sydneyjharper
sydneyjharper
Sydney J. Harper
 missleekong
missleekong
Saida
 adhel_bol
adhel_bol
Angelina Adhel Bol
 nyiroupdaklok
nyiroupdaklok
NYIROUP
 dibaamaty
dibaamaty
Maty
 puklouu
puklouu
Puklou Jock
 taylormadeforu
taylormadeforu
taylor munroe
 urbanhottake
urbanhottake
News | Entertainment | Music
 msalekwek
msalekwek
Alek Wek
 afroprincesses
afroprincesses
Afro Princesses 👑
 akuacyel
akuacyel
AKUAC YEL
 altoumvu
altoumvu
Altou Mvuama (a1)
 nefan_
nefan_
Nefan J Deng
 n_teny
n_teny
NEMO
 melaningoddessefon
melaningoddessefon
👑MelaninGoddess🍫Efon👑
 gigiitheblackbarbiee
gigiitheblackbarbiee
gigi 👸🏾
 shudu.gram
shudu.gram
Shudu
 itsmelkei
itsmelkei
Gowyiow
 ajokdaing
ajokdaing
Ajok
 nubiandollyyy
nubiandollyyy
𝐑𝐢𝐡𝐚𝐧𝐚 𝐀𝐥𝐢♕
 officialjanelado
officialjanelado
Jane Lado
 abukmalouu
abukmalouu
𝒜
 nya.gucci
nya.gucci
NYA GUCCI ♡
 sudanese_beauty
sudanese_beauty
nyabuom 🩵
 tanykarenee
tanykarenee
Tanyka Renee
 yo.gottiee
yo.gottiee
Agot Mareng🇸🇸💙
 nyadeng.lul
nyadeng.lul
Nyadeng Lul
 niabarbiex
niabarbiex
NIA 🌪️
 ellibichok
ellibichok
✿
 nyaakuoth
nyaakuoth
Nyaa Kuoth 🇸🇸
 theesudani
theesudani
Yar ♡
 armandatoungui
armandatoungui
Glow.
 winnniy
winnniy
WINNIY
 victoriareath_
victoriareath_
V!
 darkskinnedgirl__
darkskinnedgirl__
عائشة♍️
 hallamadolofficial_
hallamadolofficial_
Halla Madol
 sonia_barbie_tucker
sonia_barbie_tucker
Sonia Tucker
 bratz_i.n.c
bratz_i.n.c
🤍 Shannon Wiggins 🤍
 miss__aude
miss__aude
Aude 🇨🇮🇱🇷
 nyaguaa
nyaguaa
Bigoa
 melanin.feed
melanin.feed
Melanin Feed
 sudanidoll
sudanidoll
Nyayan Koung
 officialamie
officialamie
Amie Kebbeh Sonko B 🇬🇲
 unicewani
unicewani
Unice Wani
 yarosanga_
yarosanga_
Ro🌸
 aconxo
aconxo
Acon
 savannahhperkinss
savannahhperkinss
 tea.cooper2
tea.cooper2
Te'a Cooper
 aaanokk
aaanokk
🧸💋🧸💋
 dearestparis
dearestparis
𝒫𝒶𝓇𝒾𝓈 𝑀𝒾𝒸𝒽𝒶𝑒𝓁
 jetsetterjackie
jetsetterjackie
Jackie
 enduranceark
enduranceark
Endurance Ark
 koujayn
koujayn
Koujayn
 melvnin
melvnin
Bee
 queenpokoo
queenpokoo
Queen Pokoo
 melanin.bape
melanin.bape
F A T O U B. 🏳️
 sajenicole
sajenicole
Saje Nicole | Fashion Model
 givememorgan
givememorgan
Morgan
 _aicha_faye
_aicha_faye
🐈‍⬛
 nateishaf
nateishaf
Nateisha Foster
 mariama
mariama
Mariama Diallo
 michelleecs
michelleecs
 aichasek
aichasek
aicha
 themakingsofjmarie
themakingsofjmarie
Jessieca Alford
 coneli.aa
coneli.aa
🇸🇸//🇰🇪//🇨🇦
 ghanaiandol
ghanaiandol
Ghanaiandol 🇬🇭
 kiarapike
kiarapike
Kiara Pike
 normani
normani
Normani
 arek.ie
arek.ie
Arek♡
 dasilvadakid
dasilvadakid
DASILVA
 ama.peters
ama.peters
AMA
 shadaenotadu
shadaenotadu
Shadae
 nyauethriam
nyauethriam
Nyaueth
 keisha_king12
keisha_king12
Nyagua!🤎..👸
 oumy_dioppp
oumy_dioppp
Oumy Diop
 anita_yann
anita_yann
Anita
 ohneyaa
ohneyaa
Neya Diouf®
 lo_giel
lo_giel
Lucia Logiel
 nyang_feather
nyang_feather
nyangmach❤️
 elizabethaluk
elizabethaluk
Nyaluk🧚🏿‍♀️
 monica_atong
monica_atong
Monica Atong
 prettyodie_
prettyodie_
Jodie Oballa
 dojahenshaw
dojahenshaw
DOJA
 doshadeng
doshadeng
DOSHA 🇸🇸
 lisa__addo
lisa__addo
L I S A A D D O
 malaan_ajang
malaan_ajang
Malaan 💫
 lyrette_
lyrette_
Lyrette Brown
 tanerelle
tanerelle
Tanerélle
 aadhieuy
aadhieuy
Adhieu
 melanin_gram12
melanin_gram12
Melanin_gram🖤💯
 mod3star
mod3star
Modesta Boafo
 nynyy.j
nynyy.j
LIBR☆T
 ayeleshia
ayeleshia
 simplynyapal
simplynyapal
Nyapal 🦋
 balangnyal
balangnyal
Friday B Chuol
 nyapuka
nyapuka
puka
 nyahyul_d
nyahyul_d
Nyahyul Duir 🦋
 abidhuol
abidhuol
Abi
 sudanesebih
sudanesebih
 kuothwiel
kuothwiel
Kuoth 🤍
 yarmacharr
yarmacharr
YAR 🇸🇸
 libbysapphire
libbysapphire
N Y A L I E B
 adol_muortat
adol_muortat
Adol🇸🇸
 adut_atem
adut_atem
Adut A Kiir
 afrixotic
afrixotic
 monicaalierr
monicaalierr
yourmainmo
 nikkithot
nikkithot
NIKKI THOT
 ajurofficial
ajurofficial
Juju 💌
 typicalblackmum
typicalblackmum
hacked by chikri
 lazelle.doll
lazelle.doll
Lazelle Hampton
 beautifully_shadded
beautifully_shadded
Art
 d.28m
d.28m
Thel 🇸🇸
 newyorktaylorr
newyorktaylorr
✌🏾
 cantbebless
cantbebless
blessing🇸🇸🇸🇩
 uhleezuh
uhleezuh
 nyaruonkoang
nyaruonkoang
Nyaruon Koang | Melbourne
 kristline__
kristline__
Christiana
 florence_baitio
florence_baitio
Florence Baitio
 anokyai
anokyai
ROCK
 kuei.alor
kuei.alor
Kuei
 sudo__queens
sudo__queens
Sudo_queens
 awengchuol
awengchuol
Aweng Chuol
 simplytems_
simplytems_
Black Barbie🦋❤️
 liaferreira.m
liaferreira.m
𝐋
 duckiethot
duckiethot
Duckie Thot
 queennyakimofficial
queennyakimofficial
Nyakim Gatwech
 adolsophia
adolsophia
 naome_
naome_
 unpublishedartist
unpublishedartist
Adual Jok Akol
 callherdestinyy
callherdestinyy
DESTINY
 eniolaabolarin
eniolaabolarin
Eniola Aisha (عائشة) Abolarin
 aluat.lilly
aluat.lilly
Aluat Lilly
 _fatouu22_
_fatouu22_
Fatou
 givannni
givannni
GIVANNI🦋
 halatu__
halatu__
Halatu
 bh0ney_
bh0ney_
 akechamm
akechamm
Akecham Chol
 joyce.oyay
joyce.oyay
Joyce Oyay
 _itscoconut
_itscoconut
coco❤️‍🔥
 anyang_deng
anyang_deng
Anyang Deng
 achan_daniella
achan_daniella
Daniella
 blackskinwomen
blackskinwomen
Black Skin Women
 _ajakadam
_ajakadam
Ajak || ✝️
 meryang.s
meryang.s
Mer Yang
 melanaire.feed
melanaire.feed
melanaire 🤎
 _bellabol
_bellabol
 lily_kuol
lily_kuol
Aluel👸🏾
 sudoshoutouts
sudoshoutouts
Sudanese Queens 🤎✨
 lucia.fidele
lucia.fidele
D U D I A
 x__kenzie
x__kenzie
Miss.K 👑
 sudobaddest_
sudobaddest_
Melanin.Goddess
 gencedi
gencedi














































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































</div></div></div></span>
                                     </div>

            

            <!-- Post Date -->
            <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
                {% if page.last_modified_at %}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
                </small>
            </p>

     
        </div>
        <!-- End Post -->

    </div>
</div>

