---
layout: default1
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">

        <!-- Post Share -->
        <div class="col-md-2 pl-0">
            {% include share.html %}
        </div>

        <!-- Post -->
        {% assign author = site.authors[page.author] %}

        <div class="col-md-9 flex-first flex-md-unordered">
            <div class="mainheading">

                

                <!-- Post Title -->
                <h1 class="posttitle">{{ page.title }}</h1>

            </div>

            

            <!-- Post Featured Image -->
            {% if page.image %}

            {% if site.lazyimages == "enabled" %}
            <img class="featured-image img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% else %}
            <img class="featured-image img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% endif %}

            {% endif %}
            <!-- End Featured Image -->

            <!-- Post Content -->
            <div class="article-post">
                <!-- Toc if any -->
                {% if page.toc %}
                    {% if page.beforetoc %}
                        <p><em>{{page.beforetoc}}</em></p>
                    {% endif %}
                    <div class="toc mt-4 mb-4 lead">
                        <h3 class="font-weight-bold">Summary</h3>
                        {% include toc.html html=content %}
                    </div>
                {% endif %}
                <!-- End Toc -->
               
                {{content}}

<a id="show_id" onclick="document.getElementById('spoiler_id').style.display=''; document.getElementById('show_id').style.display='none';"></a><span id="spoiler_id" style="display: none;"><a class="link" onclick="document.getElementById('spoiler_id').style.display='none'; document.getElementById('show_id').style.display='';"></a>
<div style="background-color: rgba(0, 0, 0, 0); margin: 1px;">
<div class="smallfont"><i><span style="font-size: 16px; font-weight: bold; margin-right: 3px;"></span></i><input onclick="if (this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display != '') { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = ''; this.innerText = ''; this.value = ''; } else { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = 'none'; this.innerText = ''; this.value = ''; }" style="background-color: #00000000; font-size: 16px; width: auto;" type="button" value="" />
</div>
<div class="alt2" style="background-color: rgba(255, 255, 255, 0); margin: 0px; padding: 0px;">
<div style="display: none;" loading="lazy">






suphatta53
suphatta suandi
ao.a_j
ao.a_j
phaeng_250
phaeng_250
ชุติกาญจน์ ฯ.
saakherssucchittaa
saakherssucchittaa
สุจิตตา ฯ.
wara.oct
wara.oct
ᗷᗩIᖴᑌIII
jee._.ranan
jee._.ranan
🌸
ma.ay200
ma.ay200
Maiy Siri Kenya
cream_puffwx
cream_puffwx
♡.*🍨🍭യ 🍩₊⋆
ying_kanokwan_
ying_kanokwan_
ʏɪɴɢ.
naxnax.x
naxnax.x
Chanthida sengmanithong
thx.litha_07
thx.litha_07
ลอตอที่แปลว่าลิตา😋
n_waan14
n_waan14
Ratchadaporn Meesai
khxngz
khxngz
Khxngz Pattarawarin
kktn144
kktn144
ลูกฝ้าย อุ่นวิเศษ
n3mini
n3mini
𐙚 ˚ ༘ *
k_kanokon.99
k_kanokon.99
ยัยเขี้ยว🐰🤍
xxingxr.r
xxingxr.r
อิง อร.
minthwww_13
minthwww_13
🅜🅘🅝🅣 ​ 🅟🅗🅞🅝🅢🅐🅦🅐🅝
kunglyy0
kunglyy0
กุ้งเล็ก🥀
ploy_chompoo_69
ploy_chompoo_69
🩷-PLOYCHOMPOO-🩷
fernnii_
fernnii_
𝑭 𝑬 𝑹 𝑵🥀
ppprae_wa
ppprae_wa
Praewa Ratchatari
nudsara.stnl
nudsara.stnl
Took Tik
naminggggggg
naminggggggg
Pittawan Chuchaed
ladiipally.op
ladiipally.op
Opal Thitikan
cp.sssssss
cp.sssssss
✉️
aradaeyeee
aradaeyeee
Arada kueanmueang
pnpxat_27
pnpxat_27
Pxng_nxpat
baequri
baequri
⠀ 𝑐
torfun__.x
torfun__.x
⠀ ⠀ ⠀
o892p
o892p
ปอ ฟาง.
biw9339
biw9339
Bar Rarew
rajnboow
rajnboow
≽^•༚• ྀི≼
yokntn_
yokntn_
𝓎𝑜𝓀𝓃𝓉𝓃꒰ఎ₍´˶• . • ⑅ ₎໒꒱
km_jx0
km_jx0
แก้ม มมมฯ.
ach_it.a06
ach_it.a06
น่อวมุกเอง💘
kuanjit_2005
kuanjit_2005
ขวัญจิตร ฯ.
_butsakon.06
_butsakon.06
เบลล์เด็กบ้านนอก🍃💚
eeedlng
eeedlng
gam.me0_0
gam.me0_0
GA MG
kammyui_
kammyui_
แก้ม ยุ้ย ౨ৎ
imyuwadi2_04
imyuwadi2_04
บอวอ 💐🐱
lookpad.sc23
lookpad.sc23
𓃦
kaka____aaaaa
kaka____aaaaa
★
a.ppjuju
a.ppjuju
⠀
apo20_09
apo20_09
aom_plaifa
aom_plaifa
ปลายฟ้า าา
__z.zca
__z.zca
🫶🏻
a_ixmg
a_ixmg
แอมมอฟีน
aranya21x
aranya21x
น้ำผึ้ง.
modinthira
modinthira
Mod Inthira
rossukon346
rossukon346
Rossukon Kulsang
lex_aranya
lex_aranya
Aranya🌳  ชื่อกิ๊ง 
thanida.na
thanida.na
อยาก ก ขอ อ เธอ อ คืน น.ฯ
shxrrty
shxrrty
🌷。
viiizw_
viiizw_
__vixw
luvkexii
luvkexii
 . ★★☆
arphatsara_8
arphatsara_8
อาภัสรา า ฯ.
kulcchira_1112
kulcchira_1112
กุลจิรา บุญมา
tammiejellytam
tammiejellytam
ྀི
pandeun_.xz
pandeun_.xz
ปานเดือน ฯ.
am_cholly_
am_cholly_
แอ้ม ชลธิชา
09_.momxy
09_.momxy
09_.momxy
cupcake.1909
cupcake.1909
เค้กที่อร่อยที่สุดในโลกกกก
ka_fiw2549
ka_fiw2549
กา ฟิวส์
phani.da123
phani.da123
Phanida Naihwang
__xp.prememii
__xp.prememii
pannipa_82
pannipa_82
พรรณิภา  า.
mksxmm_
mksxmm_
ꪑⅈꪀ𝕥
pchxz.b
pchxz.b
25
nknd_v21
nknd_v21
𝟐𝟏𝐬𝐭 𝐍𝐨𝐯.
fak_fang51
fak_fang51
ฟักแฟงแกงใส่หยังกะแซ่บ😋
chontichauppama.2549
chontichauppama.2549
นุ้ยย ย.ฯ
vumiaepp
vumiaepp
위파다.
waranyafanta_09
waranyafanta_09
ตา ต้าา ฯ.
supanidaa04
supanidaa04
ออ กัส
inxtq_
inxtq_
best_julalak
best_julalak
b108_tx🦋
natthariga__5387
natthariga__5387
เป้ ณัฐริกา.
chutimon_cn
chutimon_cn
Nun Chutimon🎀🤍
r_liwk
r_liwk
垂柳🪴
atikarn_013
atikarn_013
քʊքɛǟ🦋
si_ri_2003
si_ri_2003
JJ_21
cxnpz.__
cxnpz.__
ᴄᴋ
po.rnpan26
po.rnpan26
พรพรรณ ณ.ฯ
xtake_49
xtake_49
กุลตะพา ฯ.
kenika_samnaknit
kenika_samnaknit
KENIKA
noey.y._200
noey.y._200
N
nxncp
nxncp
𝐏𝐨𝐨𝐧𝐏𝐨𝐨𝐧 𝟑
tthhii_08
tthhii_08
Thitikan
iitskamol
iitskamol
แมวน้อย
ue3w.x
ue3w.x
four
bam_bam.z
bam_bam.z
Bam Bam
siriphassrchmthng
siriphassrchmthng
water
chaama82
chaama82
ปริวววว
kk.kik48
kk.kik48
Phanchanida Kanon
ssmcom._
ssmcom._
จ๊ะจ๋าา🌻.
toey._.25
toey._.25
เตย เตย.
lznping_29
lznping_29
Lin Lin
playfha_09
playfha_09
Playfha Kokrum
ppangz.jx
ppangz.jx
𝐏𝐨𝐧𝐠𝐩𝐚𝐧𝐠 🕷️
fahsai_in_the_sky
fahsai_in_the_sky
Fahsai Fahsai
monsterinnk
monsterinnk
naris
xin_xin3107
xin_xin3107
🌊Xin🦈
fernmrss
fernmrss
เฟิร์น มาริสา 🫧
fah_3444
fah_3444
ฟ้า’ ใส
nadyyahittaa._
nadyyahittaa._
 ｡_✧nadyaaaaaaa✧_｡
bee_bieww
bee_bieww
บี บิว🎀🫧
gwdeap
gwdeap
phapimon_nnn
phapimon_nnn
ภาพิมล ฯ.
mintzyxxy
mintzyxxy
อารยา อะโน
ja_nchr
ja_nchr
grace.z_y
grace.z_y
ch_umphunuc
ch_umphunuc
คว้าาาาา
thirdaa.ratnphanth
thirdaa.ratnphanth
ถิรดา าา
jitti_nan45
jitti_nan45
ピーマイ
iphone_.ee
iphone_.ee
ไอโฟน
pjjjixz9
pjjjixz9
แพตตี้ฟันเหล็ก⚔️
axx_n123
axx_n123
sɪʀɪᴡɪᴘʜᴀ ᴍᴏᴏʜᴜᴀɴᴀ
mayypanya
mayypanya
อาา เมย์
f0xng_nna
f0xng_nna
하늘⛅️
peem13_
peem13_
𝓦𝓪𝓷𝔀𝓲𝓼𝓪🥀
phing.i_i
phing.i_i
P
_iicceex
_iicceex
วนิดา ฯ.
yokeiei_4
yokeiei_4
aom._.pacharee
aom._.pacharee
ออม ·͜·♡
ingfahangel
ingfahangel
อิงฟ้า อัคราวุฒิพันธ์
_maymae.yy
_maymae.yy
◡̈ maymae
anchisa_bam
anchisa_bam
 3 โอชิ รสข้าวว!! 🫶🏻💗
warunya.na
warunya.na
ᶰᵃᶰ
muakcud
muakcud
Natnicha Chuenklintoop
ppissariya
ppissariya
🥦🍃
nam_mmmm1904
nam_mmmm1904
.✿หนู๋น้ำ🦋
owner_kwan
owner_kwan
K.w.A.n🦋
ployq_
ployq_
𝑷𝒍𝒐𝒚🐰
tcattyy
tcattyy
_mixd.d_
_mixd.d_






</div></div></div></span>
                                     </div>

            

            <!-- Post Date -->
            <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
                {% if page.last_modified_at %}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
                </small>
            </p>

     
        </div>
        <!-- End Post -->

    </div>
</div>

