---
layout: default1
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">

        <!-- Post Share -->
        <div class="col-md-2 pl-0">
            {% include share.html %}
        </div>

        <!-- Post -->
        {% assign author = site.authors[page.author] %}

        <div class="col-md-9 flex-first flex-md-unordered">
            <div class="mainheading">

                

                <!-- Post Title -->
                <h1 class="posttitle">{{ page.title }}</h1>

            </div>

            

            <!-- Post Featured Image -->
            {% if page.image %}

            {% if site.lazyimages == "enabled" %}
            <img class="featured-image img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% else %}
            <img class="featured-image img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% endif %}

            {% endif %}
            <!-- End Featured Image -->

            <!-- Post Content -->
            <div class="article-post">
                <!-- Toc if any -->
                {% if page.toc %}
                    {% if page.beforetoc %}
                        <p><em>{{page.beforetoc}}</em></p>
                    {% endif %}
                    <div class="toc mt-4 mb-4 lead">
                        <h3 class="font-weight-bold">Summary</h3>
                        {% include toc.html html=content %}
                    </div>
                {% endif %}
                <!-- End Toc -->
               
                {{content}}

<a id="show_id" onclick="document.getElementById('spoiler_id').style.display=''; document.getElementById('show_id').style.display='none';"></a><span id="spoiler_id" style="display: none;"><a class="link" onclick="document.getElementById('spoiler_id').style.display='none'; document.getElementById('show_id').style.display='';"></a>
<div style="background-color: rgba(0, 0, 0, 0); margin: 1px;">
<div class="smallfont"><i><span style="font-size: 16px; font-weight: bold; margin-right: 3px;"></span></i><input onclick="if (this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display != '') { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = ''; this.innerText = ''; this.value = ''; } else { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = 'none'; this.innerText = ''; this.value = ''; }" style="background-color: #00000000; font-size: 16px; width: auto;" type="button" value="" />
</div>
<div class="alt2" style="background-color: rgba(255, 255, 255, 0); margin: 0px; padding: 0px;">
<div style="display: none;" loading="lazy">



wanechlimbuyelis
wanechlimbuyelis
15\6\66 The day l love🖤🙁
_ssxmq
_ssxmq
♡̫ 𝓈𝑜𝓂𝓈𝑜𝓂˚ ༘♡⋆ εïз˚❀⑅*⳾
ireansee_ning
ireansee_ning
❥ 𝓃𝒾𝓃𝒢
thofun_07
thofun_07
ทอฝัน ฯ.
natth_anich_20
natth_anich_20
🐰
palm_4436
palm_4436
Palm Phatcharin
pxngpk_.m
pxngpk_.m
แป้งเน่า🌸
kamonthip.1
kamonthip.1
กรอบ แก้ว🐻‍❄️
nichxnu.n
nichxnu.n
ปูเป้ครับพี่ครับผมครับท่าน
arany_a2009
arany_a2009
อรัญญา ฯ.
aunplqw_
aunplqw_
Aün Aünchalëë
r_muayxx
r_muayxx
♡
bencharat_2002_
bencharat_2002_
Bencharat Khambanlue
__bow.wy__
__bow.wy__
โบว์ สุธิดา า.
orathai19_
orathai19_
orathai_19
aum_kunyakron_
aum_kunyakron_
o_zone.x
o_zone.x
O_zone
n_xniw14
n_xniw14
⠀
mumuizp
mumuizp
黄珍珠
p.pxtxchx_xz
p.pxtxchx_xz
✮
_x.ketmanee872
_x.ketmanee872
คัพ เค้ก
kkie_07
kkie_07
คก
_pppppopo
_pppppopo
iicechayamas
iicechayamas
Ib
jao_poo.c
jao_poo.c
𝕁𝕒𝕠_𝕡𝕠𝕠𝕨𝕫𝕫
phrxw.p
phrxw.p
ᴘʀᴇᴀᴡ ♡
yadaaa_.aaa
yadaaa_.aaa
จ้าา☀️
mil_d2005
mil_d2005
รศิตา  า.
nn_nina27
nn_nina27
𝐍𝐢𝐍𝐚   หนุงหนิง🍀
aayeii
aayeii
爱勤
nenaxzxz._
nenaxzxz._
Nena
vxivqz._
vxivqz._
วิว โน๊ะ
1natnita.a
1natnita.a
1arisa.mp
1arisa.mp
s.sendai_
s.sendai_
Phatcharahon Rintachun
pac.kk_
pac.kk_
Chulamanee Sukrob
lm_namfon0
lm_namfon0
✰ ✮ น้ำฝน
bampebb
bampebb
Natnicha
p_anita08
p_anita08
🅟
linladaaaaa_
linladaaaaa_
Linlada Duangart
ppok.y
ppok.y
mmtanoy_
mmtanoy_
ᴍᴏᴅᴛᴀɴᴏʏ
air_14ana
air_14ana
A
viewkhuan
viewkhuan
𝐯𝐢𝐞𝐰𝐰𝐢𝐞
yositaxsp_
yositaxsp_
กูอายุ17
_xthanyapoxn
_xthanyapoxn
thnisphr
thnisphr
ธนิษพร จันทร
mayumi._.kyu
mayumi._.kyu
🐈
onyour_srp
onyour_srp
Sirirat Kawngam
vunsaan_vun
vunsaan_vun
Vunsaan Vun
pimz.ii
pimz.ii
พิมพ์เเปลว่าน่ารัก☺︎︎
icexx._02
icexx._02
19-Feb
enxngmint_26
enxngmint_26
Ⓜ️
kunthidxx
kunthidxx
Kunthida Pakhi
selenacarwyn
selenacarwyn
jumi
pk_sujitra30
pk_sujitra30
Sujitra Kheansn-ard
frienddlyyy_
frienddlyyy_
arika0._
arika0._
𝑨𝒏𝒈𝒆𝒓𝒊𝒌𝒂
nattanxn._
nattanxn._
zxa_xex
zxa_xex
เดี๋ยวกูตบด้วยโคเรียคิง
zeeploy_y.1
zeeploy_y.1
พลอย  ย ย.
rene_lannaphat
rene_lannaphat
Rene  mommy dream ​ 3
rs_yxng
rs_yxng
Ruenrudee Satipha
mamay_109
mamay_109
มะ เมย์.
_goldmi._
_goldmi._
🝮♡︎𝐊𝐑𝐈𝐓𝐀𝐘𝐀♡︎🝮
julaluxn
julaluxn
จิว จิล จิล์ว จิวว์ ♡
fxrn_tk15
fxrn_tk15
TFxxr_15
pl._.oy3
pl._.oy3
🕊𝓟𝓵𝓸𝔂  
patchara_poklang
patchara_poklang
Patchara Poklang
aaaonnnkiki_
aaaonnnkiki_
Narongsak Phuiutha
rewadee16_
rewadee16_
ลดาวัลย์
fahhh_saiii03
fahhh_saiii03
Fahhh_saiii🥨
fah._xi9
fah._xi9
Salilthip Xi
mxnthxth_xp
mxnthxth_xp
Kang Monthathip
plengv_
plengv_
y.ying.xx
y.ying.xx
_.priyapron
_.priyapron
M.
benjawan27_
benjawan27_
เบน  จ๋า
fa.fern_
fa.fern_
fafern
fannmi_
fannmi_
mobxexw.x
mobxexw.x
ด.ญ. จุฑารัตน์
iamnet.t
iamnet.t
net.
khawfang413
khawfang413
🩷🌾
sasithorn_2935
sasithorn_2935
ตอนอ
_dxxq.j
_dxxq.j
นู๋  ดาว วว
aoao210546
aoao210546
รติพร อุ่นผ่อง
suwadee_1809
suwadee_1809
สุวดี ฯ.
oxng_oing
oxng_oing
Oxng Oing
nxmw_n7
nxmw_n7
ชูชิ🍣
fern_0426
fern_0426
Name fern
fon_35606
fon_35606
เจ๊ ฝน น
maynetnaph_a
maynetnaph_a
m”•
kstk_xx
kstk_xx
Pirachada Saikrueang
inginxn_.eie
inginxn_.eie
𝓲𝓷𝓰🎐
ta_ng__11111
ta_ng__11111
จรวยพร ร.
_nanoonz
_nanoonz
sirilak pitisit🌙
nanny_1610
nanny_1610
Nan Khunanya Soijit
px_pearwha.04
px_pearwha.04
เสี่ย  แพร ฯ.
j.panicha
j.panicha
ᴾᴬᴺᴵᶜᴴᴬ ᴹᴼᴷᴷᴬᴱᵂ
denisejelilcha
denisejelilcha
Denise💕
pximngay
pximngay
★★☆
pinomyim
pinomyim
ปิ่นอมยิ้ม 🍭
numwarnluanglath
numwarnluanglath
Sweet Pork
pkp.milk
pkp.milk
Pakkaporn Wattanaudomsuk
menx.lx
menx.lx
☊
be_ammm12
be_ammm12
ชื่อ บีม ม
proud_phxt
proud_phxt
เพชร พลอย
punyaphon.2005_
punyaphon.2005_
Punyaphon Khotamang
kanokkan_n17_04
kanokkan_n17_04
Kanokkan Ty
m.mranxa
m.mranxa
SUWICHAYA.
lemxnqz._
lemxnqz._
Plernpilin Lemon
jirapuc_h
jirapuc_h
  
xib.x_12
xib.x_12
ไข่เน่า
llitaa6351
llitaa6351
อารมณ์เป็นไฟ ใจเป็นฟาง.
nannalin_358
nannalin_358
sxrirat_
sxrirat_
𝐓𝐮𝐤𝐭𝐚
fuoreal.gg
fuoreal.gg
𐙚 ﾟ𓈒ּ 〰︎ꕤ ⩋ ⸝⸝ ݁ ♡ིིྀ. ݁𓈒
rit__ttttep
rit__ttttep
น้องป๋อย
biwty.2005
biwty.2005
Biw Wattaporn
peempns
peempns
Pannasa Phongsri
j_jung44
j_jung44
𝙄 𝘼𝙈 𝙆𝙐𝙉𝙇𝘼𝘼🥀
jiedae
jiedae
ᴊᴇᴇᴅᴀ ☆
sarasunwaa
sarasunwaa
서아
f4azhxq_p
f4azhxq_p
พิมพ์วิมล คิดหมาย
solya_yada
solya_yada
Babie Chanunya
aom.aritx
aom.aritx
amam_ariya
amam_ariya
Ariya Bancha
xnikki_.pmq
xnikki_.pmq
Nikki🫧
chutimaasaeiiybkhng
chutimaasaeiiybkhng
ชุติมา สะเอียบคง
nongmuay.y
nongmuay.y
รินรดา’า ฯ.
mim.rattanawadee
mim.rattanawadee
มิ้ม รัตนวดี
txeyq_
txeyq_
𐙚 ⋆⸝⸝⸝ ༘ ﾟ
p0lxm_qzx
p0lxm_qzx
PALMY
nunwichidaa
nunwichidaa
วิชิดา นุ่น
mobyeeiei__
mobyeeiei__
โมบัยบุ้ยบุ่ย อุอิอุอิ
pr0npiyx_
pr0npiyx_
3
pxntnc
pxntnc
𝒏𝒐𝒐𝒌
_nxtxm0n









</div></div></div></span>
                                     </div>

            

            <!-- Post Date -->
            <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
                {% if page.last_modified_at %}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
                </small>
            </p>

     
        </div>
        <!-- End Post -->

    </div>
</div>

