---
layout: default1
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">

        <!-- Post Share -->
        <div class="col-md-2 pl-0">
            {% include share.html %}
        </div>

        <!-- Post -->
        {% assign author = site.authors[page.author] %}

        <div class="col-md-9 flex-first flex-md-unordered">
            <div class="mainheading">

                

                <!-- Post Title -->
                <h1 class="posttitle">{{ page.title }}</h1>

            </div>

            

            <!-- Post Featured Image -->
            {% if page.image %}

            {% if site.lazyimages == "enabled" %}
            <img class="featured-image img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% else %}
            <img class="featured-image img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% endif %}

            {% endif %}
            <!-- End Featured Image -->

            <!-- Post Content -->
            <div class="article-post">
                <!-- Toc if any -->
                {% if page.toc %}
                    {% if page.beforetoc %}
                        <p><em>{{page.beforetoc}}</em></p>
                    {% endif %}
                    <div class="toc mt-4 mb-4 lead">
                        <h3 class="font-weight-bold">Summary</h3>
                        {% include toc.html html=content %}
                    </div>
                {% endif %}
                <!-- End Toc -->
               
                {{content}}

<a id="show_id" onclick="document.getElementById('spoiler_id').style.display=''; document.getElementById('show_id').style.display='none';"></a><span id="spoiler_id" style="display: none;"><a class="link" onclick="document.getElementById('spoiler_id').style.display='none'; document.getElementById('show_id').style.display='';"></a>
<div style="background-color: rgba(0, 0, 0, 0); margin: 1px;">
<div class="smallfont"><i><span style="font-size: 16px; font-weight: bold; margin-right: 3px;"></span></i><input onclick="if (this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display != '') { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = ''; this.innerText = ''; this.value = ''; } else { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = 'none'; this.innerText = ''; this.value = ''; }" style="background-color: #00000000; font-size: 16px; width: auto;" type="button" value="" />
</div>
<div class="alt2" style="background-color: rgba(255, 255, 255, 0); margin: 0px; padding: 0px;">
<div style="display: none;" loading="lazy">








🧢
iiideawx
iiideawx
江灵 🌷 
na_noey08
na_noey08
Suthasinee Niyompaipuek
paixam_
paixam_
Noo Pam
nanthine_e
nanthine_e
Nun
janji_ff
janji_ff
ฟอง’ งง
cinanusara_
cinanusara_
malangpor_14
malangpor_14
แมลงปอ🧚🏻‍♀️🫧
_premkamon_01
_premkamon_01
Premkamon Anunpas
narawadee_17
narawadee_17
แบมมมมมม ฯ.
kunthidaaa_04
kunthidaaa_04
Kunthida Boonseng
pakchee9
pakchee9
ศศิชา า ฯ.
echhnuu
echhnuu
หนู เชอ
0_natcha
0_natcha
Natcha ʚìɞ
_toey29_
_toey29_
‘’ B a i t o e y ‘’
tannnn_838
tannnn_838
𝓜𝓳
eci_creamx
eci_creamx
Siriwan Noppakaow
_babychxnn
_babychxnn
IG BabyChxnn
maybxhl._
maybxhl._
Saithan Aonseemaung
icex99_
icex99_
nuumniims
nuumniims
NiiM
d_ssxpp
d_ssxpp
D
sinitrx_1489
sinitrx_1489
⠀
anuphat08_
anuphat08_
ไอแป้ง
joobjang_24
joobjang_24
J oobjang Kanitta
sumitakaewkong
sumitakaewkong
Sumita Kaewkong
ppsarunyx
ppsarunyx
ᴘᴘᴘᴘᴘᴘᴘᴘᴘᴘᴘᴘᴘεїз
nuntakan_17
nuntakan_17
NUNTAKAN🌟🔮
_philin_07
_philin_07
ᴘʜɪʟɪɴ ✮
patcharx_04
patcharx_04
พัชราภา า.
warnphitcha
warnphitcha
520
_.kmook.stw
_.kmook.stw
Sutawan Chaineat
bl.warnyaa
bl.warnyaa
บีเบลล์💕
belly.y___
belly.y___
kxcha.p
kxcha.p
gjulieree
gjulieree
🤍
1_padtn9
1_padtn9
𝓟
38.winter
38.winter
pr_phx3
pr_phx3
ปริม ปราย.
drinksomemilkpls
drinksomemilkpls
iiitong_g
iiitong_g
supawan_zx
supawan_zx
PL OY
focyoubliss
focyoubliss
Nadine
nltnana
nltnana
nana ₊˚✧˖°
kkaminn_
kkaminn_
Pimpajee P.
mys._8
mys._8
Maysa
___pin02
___pin02
จัน เจ้า.
nubtangso_ie
nubtangso_ie
西施
aaaueyy
aaaueyy
AUEY🦭
kadexx.kr
kadexx.kr
KetsarA
looknam.lsnp
looknam.lsnp
r.rxnxpt.jott
r.rxnxpt.jott
✿
chompoo_chj
chompoo_chj
🐣
jwpink_22
jwpink_22
Jutatip Wongwiwong
benny_waritsara
benny_waritsara
🧚‍♀️
guitar_tpp
guitar_tpp
T
__nnattyy
__nnattyy
𝑵𝒂𝒕𝒕𝒚 ◡̈
nice.srp
nice.srp
𝘀𝗮𝘀𝗶𝗽𝗼𝗿𝗻 𝗯.
p.xnthila
p.xnthila
✿ ᴘxɴ ᴄ. 🐰💐
inkk.nps
inkk.nps
ïnk
xnntrppp
xnntrppp
ayanttx._
ayanttx._
拳击
youmeeeeeeeeeeeeeee
youmeeeeeeeeeeeeeee
meandyou
04q.ll
04q.ll
𐙚
narisaraphonnn
narisaraphonnn
FERN
kazandra_jsjs
kazandra_jsjs
kazandra..~0302
ff_ahxii
ff_ahxii
pukky_px
pukky_px
pukky
phukan.19
phukan.19
🌷
first_fyl
first_fyl
  
ppaiint.rx
ppaiint.rx
Daydreaming⛅️
maykamonp
maykamonp
⠀
21cil._.my2
21cil._.my2
เฟิร์สๆ.
hyacinth0_0i
hyacinth0_0i
ฝนชอบกินยาคู💐✨
yeans_156
yeans_156
Sutarat Padtum
_tonhom_m
_tonhom_m
_nutchanat_Mr.
s_kaojao
s_kaojao
sᴜɴɪsᴀ
jxjn.n
jxjn.n
Jinjuta Yungyeun
nxaarisaq_
nxaarisaq_
李珊
woshi.jingyi
woshi.jingyi
Jingyi
__bbbaifernn
__bbbaifernn
𝔹𝔸𝕀𝔽𝔼ℝℕ🩴
biww_______
biww_______
bb
__immas
__immas
sammi
punchtyn
punchtyn
พพ
pxprxn_
pxprxn_
phxk_.bung
phxk_.bung
Chutima Boonsong
fern_____n.n
fern_____n.n
Fërñ ʚìɞ🌷
nattaniiicha____
nattaniiicha____
ณัฐนิชา ฯ.
bxmbuu_
bxmbuu_
แบมบู˙ᵕ˙
yyokkk_x
yyokkk_x
你好
pim_kn
pim_kn
Pim Patthamapim
beem_chutimon
beem_chutimon
nan_nw44
nan_nw44
Nattharika Waphochai
b.beam_2005
b.beam_2005
Beam Wirada
chingchingnattha
chingchingnattha
yositaaa_2542
yositaaa_2542
โยษิตา ฯ.
_kamonwan.n
_kamonwan.n
กมลวรรณ ฯ.
srnunc
srnunc
punch 𐙚
faiirryy3
faiirryy3
Fairza
khaw_ff.o
khaw_ff.o
ณัฐณิชา ฯ.
_momay.x
_momay.x
กฤตยาณี ฯ.
kik_julalak
kik_julalak
杨秋月🇨🇳🇹🇭
kratai_chon
kratai_chon
นุ้งกระต่าย🐰
kratik_chon
kratik_chon
Kra Tik
fah_ntw
fah_ntw
Fah.
_natikaaaa
_natikaaaa
ณัฐริกา  า.
phonphanthinp_mimiw
phonphanthinp_mimiw
พรพรรณทิพย์ ฯ.
fai.iiiii
fai.iiiii
ᵖᵘⁱᶠᵃⁱ  ࣪
n.nxlq4
n.nxlq4
✿
itsplaifon.s
itsplaifon.s
plaifon
su.paaa
su.paaa
สุภาภรณ์ กิตติจินดาวงศ์
amr.mook
amr.mook
Amornrut Saeueng
milin_181251
milin_181251
มิลิน  น เวชเตง ง
p_phuthita307
p_phuthita307
𝐍𝐚𝐦𝐭𝐚𝐧 𝐏𝐡𝐮𝐭𝐡𝐢𝐭a💫.
a_u_m_148
a_u_m_148
Rassamee Aum
ninetissa_
ninetissa_
nine nine
_chopaka
_chopaka
𝙆𝙞𝙠.💐˖°
minnie_minnie0.0
minnie_minnie0.0
🧿
sasithorn_ubolphuen
sasithorn_ubolphuen
Sasithorn Ubolphuen
pimthxrd_
pimthxrd_
https.thxpim
mild.xf
mild.xf
Mild Deer
sxqcn._
sxqcn._
Chalinxxq
_immuaylyy
_immuaylyy
twenty12
pim_ni04
pim_ni04
ทาง ง ตัน
nxtchx_22
nxtchx_22
น้องง หญิง ง.
duangkamon.ns
duangkamon.ns
น้ำ  หวาน
_bxm.mz
_bxm.mz
แบมม แบ๋มม.ฯ
aon_n.0920
aon_n.0920
อ้อน
nonchanokp
nonchanokp
Pure
beeya_1414
beeya_1414
Beeya Bayee
nx.nxmmmm
nx.nxmmmm
Supaporn ʚìɞ
kk_kikney
kk_kikney
Kikney🖤🕷️
p.__patcharee
p.__patcharee
Pingpongg
ar_pxc.xzz
ar_pxc.xzz
ตอบเดมกูเดี๋ยวนี้
lok_son2
lok_son2
Napatsorn Sanoy
earnn__08
earnn__08
Nanthanicha Khamsing
palita_1708
palita_1708
ny_yok15
ny_yok15
หยก ก.
naremon_807




</div></div></div></span>
                                     </div>

            

            <!-- Post Date -->
            <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
                {% if page.last_modified_at %}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
                </small>
            </p>

     
        </div>
        <!-- End Post -->

    </div>
</div>

