---
layout: default1
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">

        <!-- Post Share -->
        <div class="col-md-2 pl-0">
            {% include share.html %}
        </div>

        <!-- Post -->
        {% assign author = site.authors[page.author] %}

        <div class="col-md-9 flex-first flex-md-unordered">
            <div class="mainheading">

                

                <!-- Post Title -->
                <h1 class="posttitle">{{ page.title }}</h1>

            </div>

            

            <!-- Post Featured Image -->
            {% if page.image %}

            {% if site.lazyimages == "enabled" %}
            <img class="featured-image img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% else %}
            <img class="featured-image img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% endif %}

            {% endif %}
            <!-- End Featured Image -->

            <!-- Post Content -->
            <div class="article-post">
                <!-- Toc if any -->
                {% if page.toc %}
                    {% if page.beforetoc %}
                        <p><em>{{page.beforetoc}}</em></p>
                    {% endif %}
                    <div class="toc mt-4 mb-4 lead">
                        <h3 class="font-weight-bold">Summary</h3>
                        {% include toc.html html=content %}
                    </div>
                {% endif %}
                <!-- End Toc -->
               
                {{content}}

<a id="show_id" onclick="document.getElementById('spoiler_id').style.display=''; document.getElementById('show_id').style.display='none';"></a><span id="spoiler_id" style="display: none;"><a class="link" onclick="document.getElementById('spoiler_id').style.display='none'; document.getElementById('show_id').style.display='';"></a>
<div style="background-color: rgba(0, 0, 0, 0); margin: 1px;">
<div class="smallfont"><i><span style="font-size: 16px; font-weight: bold; margin-right: 3px;"></span></i><input onclick="if (this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display != '') { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = ''; this.innerText = ''; this.value = ''; } else { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = 'none'; this.innerText = ''; this.value = ''; }" style="background-color: #00000000; font-size: 16px; width: auto;" type="button" value="" />
</div>
<div class="alt2" style="background-color: rgba(255, 255, 255, 0); margin: 0px; padding: 0px;">
<div style="display: none;" loading="lazy">






phimphan_49
phimphan_49
Phimphan Thuinamueang
faiiiiiiiixi
faiiiiiiiixi
อภิษฎา ฯ.
focus_100552
focus_100552
Natakorn
nn__nurnee
nn__nurnee
นุช  นี่
bitch.yp
bitch.yp
pxmpzmxp
pxmpzmxp
kawaiialicx
kawaiialicx
𝐀𝐥𝐢𝐜𝐞𓇼
saowapa__16
saowapa__16
FA NG
benz_bzpm
benz_bzpm
 𝗕𝗲𝗻𝘇 
__wxtoey
__wxtoey
☆ﾟ
a.arphat__200x
a.arphat__200x
ออภอไงอาภัสเองง!!
metxeymuengmerai_
metxeymuengmerai_
⠀
pattarasiri__
pattarasiri__
𝘗𝘢𝘵𝘵𝘢𝘳𝘢𝘴𝘹𝘳𝘹.𓆉
_ppthra_
_ppthra_
P
mingkhwanxx
mingkhwanxx
มอขอ
baijtong_
baijtong_
𝐵𝑎𝑖𝑡𝑜𝑛𝑔
liinaliiis
liinaliiis
💓 L I N A 💓
boonyisa_07
boonyisa_07
ปูจ๋า🦀
g4mjai
g4mjai
ꪔ̤̱
pakitta_f
pakitta_f
nana_kemisara
nana_kemisara
นานา นีน่า
mindmu_
mindmu_
มาย’ ด์
p.sxdqrwt
p.sxdqrwt
เป้ด
dx_enday
dx_enday
เดือนที่มีเขี้ยวอ่ะ🌙🩷
iriinratikron
iriinratikron
IRiin Ratikron
d.dear_61
d.dear_61
ด๊ะ  เดีย ร์
_melonhx
_melonhx
멜론
j.a_jaa
j.a_jaa
_𝙅𝘼𝙅𝘼𝘼𝘼
liewestt
liewestt
🍒🎐
panissaia_2549
panissaia_2549
𝐏𝐚𝐧𝐢𝐬𝐬𝐚𝐈𝐚🍃💗
wimonthip_09
wimonthip_09
Wimonthip💕
_nicee996
_nicee996
n1c3
guitar_rattikarn
guitar_rattikarn
ʀᴀᴛᴛɪᴋᴀʀɴ ᴋᴀʀᴡᴅᴏɴʀᴇᴇ
palmy_yyyyyy
palmy_yyyyyy
🦋
pailin_o_o
pailin_o_o
𝐏𝐀𝐈𝐋𝐈𝐍
eveqt_
eveqt_
มายเนมอีสอีฟ.
napa.y
napa.y
เจ เอ
yx_.inzz
yx_.inzz
杨欣喜欢吃火锅
suphanan_tiy4499
suphanan_tiy4499
สุภานันท ททท์.
m_ln16
m_ln16
17
nunim_nunimmmmm
nunim_nunimmmmm
Nim_thida
gupgiiiiift
gupgiiiiift
Rungruedee thammakoon
pwranchita
pwranchita
환영하다
nattanichaaass
nattanichaaass
🍅
_xp.palxx_
_xp.palxx_
โอ ปอล์
viewvichuu_
viewvichuu_
𝗖𝗵𝘂𝘁𝗶𝗺𝗼𝗻🦄
chalumporn
chalumporn
สำออย ◡̈
donut.066
donut.066
เบ๊บ บี้.
si_warinnipa
si_warinnipa
วรินณิภา เรืองราย
aephr5499
aephr5499
แพร ร 
rawisara_31
rawisara_31
˚✿˖
_.txvb
_.txvb
Bua Loy
naputsawan_r
naputsawan_r
Oil Naputsawan
11_142_1
11_142_1
หญิงยากจนผู้มีความฝัน ว่าอยากมีแมว20ตัว
momy_natthakan
momy_natthakan
Mymint
mariyamacuite
mariyamacuite
Mariyamcuite
thanidasakaew_2006
thanidasakaew_2006
Thanida Sakaew
suttida_karaket
suttida_karaket
AP P LE
kansina_13
kansina_13
Kansina Paladsrichuay
preeyanuch_ty
preeyanuch_ty
𐙚 𝐵𝒶𝒾 𝒯𝑜𝑒𝓎
pann_nn07
pann_nn07
Pan ann
nxweck_51
nxweck_51
💕
krkmlthaawrsaalii
krkmlthaawrsaalii
maihom
kipo534
kipo534
supharat_504
supharat_504
หวาน  หวาน-
pattara_e
pattara_e
pattara_e
pysqk
pysqk
𝐀𝐩𝐬
anxnyx_x
anxnyx_x
🧃
msxpq_
msxpq_
แป้งเน่า
nnarax_pr
nnarax_pr
NP BK
ssiphaa25
ssiphaa25
พ้ะเเพน ฯ.
_mahmee_
_mahmee_
Thawinee Naksomboon
jarux.lll
jarux.lll
เลย์ จารุพร
ss_poy__yx
ss_poy__yx
วิราภรณ์  ณ์
dekbabymei
dekbabymei
wfchinn
wfchinn
แล้วไง
buunjaofc
buunjaofc
Buunja
fu_sexx
fu_sexx
f
beammeii_02
beammeii_02
Beam Bawornrut
txnaxr.__
txnaxr.__
Juthamas Panthong
nom_priew.qq
nom_priew.qq
xmp⁰⁵
panita_a0
panita_a0
พนิตา🩴
p.phornpawee
p.phornpawee
Phornpawee
treechada_8999
treechada_8999
ตรีชฎา คนหาญ
yuphaaphrcchaa
yuphaaphrcchaa
ยุพาพร จ้า
katai_sumitra
katai_sumitra
กา  โต่ยยย
matturamas__
matturamas__
earn__0308
earn__0308
A🦋
kwannn_2707
kwannn_2707
Praphatson Saowapa
rung_napa290
rung_napa290
เบียร์ อะ จ๊ากก.
prem_m_28_
prem_m_28_
Janjira Kittiyayam
_kookkai_29
_kookkai_29
KoOkKai❤️
babeyourmeruoe
babeyourmeruoe
แก้มใส ྀི
___p4zawq
___p4zawq
PX CE
bb.bamboo__
bb.bamboo__
☆
pxlixn.n
pxlixn.n
Lalisa Noynawach
_jiraxn
_jiraxn
ᴊᴇɴɴʏ 𖦹
xs.npzn
xs.npzn
ณัชชารีย์ ฯ.
ninexil
ninexil
Rangsima Anonam
ptxr_an
ptxr_an
TN Phattharaphon
ff_fenglin
ff_fenglin
Muthita Tosirisakun
earnnnn_21
earnnnn_21
Earn Pornchita
kanzzz_4444
kanzzz_4444
กัญ
kaekw.eyaawlaksn
kaekw.eyaawlaksn
เยาวลักษณ์ ฯ.
kritiyane_e09
kritiyane_e09
จางหาย  คล้ายควันบุหรี่.ฯ
imyour_fxnq
imyour_fxnq
Arisa Pratummes
plwqkm
plwqkm
ploy._46
ploy._46
Ploy Kamonrat
ndream.mmm
ndream.mmm
Raphiphon Kaisuan
k.kaofang_.g
k.kaofang_.g
Chanakan Manmai
wxznun_06
wxznun_06
Warinee_🌼
wxrlssk7z._
wxrlssk7z._
moji_praifar69
moji_praifar69
ปรายฟ้าาาา🍡🫶🏻💘
b.bpanys
b.bpanys
B🐰
cream_natwipha
cream_natwipha
Natwipha Srisaard
a.arixara_
a.arixara_
14 October
wanidsara08_
wanidsara08_
a_apatsar.a
a_apatsar.a
Apatasara Bokprakon
p3qpnk
p3qpnk
nokeiye_
nokeiye_
อ๋อม เเอ๋ม
mmil.dmm
mmil.dmm
Mild
nichanat_06
nichanat_06
N
7ptxze_
7ptxze_
Pimpika Nunta
itsmykwxn
itsmykwxn
ᴋᴡᴀɴᴊɪʀᴀ ♡₊˚
kxaw.ta
kxaw.ta
ᴋ
marin_honda
marin_honda
本田真凜
aipearmxi
aipearmxi
PM
ne_stxx
ne_stxx
noxnes
jjanny_y
jjanny_y
Wįtsuta💤
_mint.cnp
_mint.cnp
มาย มิ้น นน
sakonwan22_
sakonwan22_
ศกลวรรณ คงมี
ppxng_pq
ppxng_pq
PP🌘
kannika_.07
kannika_.07
เนียง’ง นัท’ทฯ.
wani_zsa
wani_zsa
ซึบซับเหมือนผ้าอนามัย
beem___2007
beem___2007
ชื่อบีมไม่ได้ชื่อรีม
pxaikez
pxaikez
ॱଳ͘
_seaxe






</div></div></div></span>
                                     </div>

            

            <!-- Post Date -->
            <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
                {% if page.last_modified_at %}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
                </small>
            </p>

     
        </div>
        <!-- End Post -->

    </div>
</div>

