---
layout: default1
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">

        <!-- Post Share -->
        <div class="col-md-2 pl-0">
            {% include share.html %}
        </div>

        <!-- Post -->
        {% assign author = site.authors[page.author] %}

        <div class="col-md-9 flex-first flex-md-unordered">
            <div class="mainheading">

                

                <!-- Post Title -->
                <h1 class="posttitle">{{ page.title }}</h1>

            </div>

            

            <!-- Post Featured Image -->
            {% if page.image %}

            {% if site.lazyimages == "enabled" %}
            <img class="featured-image img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% else %}
            <img class="featured-image img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% endif %}

            {% endif %}
            <!-- End Featured Image -->

            <!-- Post Content -->
            <div class="article-post">
                <!-- Toc if any -->
                {% if page.toc %}
                    {% if page.beforetoc %}
                        <p><em>{{page.beforetoc}}</em></p>
                    {% endif %}
                    <div class="toc mt-4 mb-4 lead">
                        <h3 class="font-weight-bold">Summary</h3>
                        {% include toc.html html=content %}
                    </div>
                {% endif %}
                <!-- End Toc -->
               
                {{content}}

<a id="show_id" onclick="document.getElementById('spoiler_id').style.display=''; document.getElementById('show_id').style.display='none';"></a><span id="spoiler_id" style="display: none;"><a class="link" onclick="document.getElementById('spoiler_id').style.display='none'; document.getElementById('show_id').style.display='';"></a>
<div style="background-color: rgba(0, 0, 0, 0); margin: 1px;">
<div class="smallfont"><i><span style="font-size: 16px; font-weight: bold; margin-right: 3px;"></span></i><input onclick="if (this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display != '') { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = ''; this.innerText = ''; this.value = ''; } else { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = 'none'; this.innerText = ''; this.value = ''; }" style="background-color: #00000000; font-size: 16px; width: auto;" type="button" value="" />
</div>
<div class="alt2" style="background-color: rgba(255, 255, 255, 0); margin: 0px; padding: 0px;">
<div style="display: none;" loading="lazy">







uxnzi.pp
𓆙
quavcm
quavcm
ʙᴀᴇ
mintnie_p
mintnie_p
kaitom 🍳
napad___
napad___
ᴘɪɴᴋᴘʟᴏʏ🪻
da_da1906
da_da1906
ทุกฉากทุกตอน มันสอนให้จำ.
mrplaifa__
mrplaifa__
ปลายฟ้า  สำรอง 
plaifa.pf
plaifa.pf
ปลายฟ้าา  สำรอง 
_ch.nczx
_ch.nczx
yok_926
yok_926
ชลิตา ฯ.
pimchanok.15y
pimchanok.15y
พิมพ์ชนก ก.
_iamyctc
_iamyctc
Ammyy👱🏻‍♀️
gg.ie._
gg.ie._
Pk.
piyamon_207
piyamon_207
ปิยมน  น
destiny_zinnii
destiny_zinnii
Thitima ∞🐰
pimpim_cn
pimpim_cn
พชน ♡
pm.1997
pm.1997
𝐏𝐀𝐋𝐌𝐘 ツ
first_354
first_354
Phanchita Kowlai
phinyaphat_51
phinyaphat_51
ah_ching12
ah_ching12
Ching Ching
mamu_muiix
mamu_muiix
ชื่อจริงชื่อแป้ง
_.kattiya
_.kattiya
แคทติยา’ ฯ.
p.r.a.e_29
p.r.a.e_29
Praetip Jongsoo
nissara_.2353
nissara_.2353
Chanissara
taannooii
taannooii
;ᴘ
pun2_353
pun2_353
Pan Chananphon❤️‍🔥
wannapha_x
wannapha_x
Wannapha Phuphanee
pisces_it
pisces_it
Papawadee Kaewkotcha
ploy_xiii
ploy_xiii
กานต์พิชชา คุ้มพวก
natthaya_009
natthaya_009
ฟอ นอฯ.
noey._2009_
noey._2009_
Nastita Dongnoi
nning.___
nning.___
ʚ♡ɞ 🪄✨
issari.p
issari.p
Issariyakorn Intachot
tiantian_htchn
tiantian_htchn
甜甜
itsmeploysaiiiii
itsmeploysaiiiii
น้องพลอย
_.nannap.at
_.nannap.at
࣪ ִֶָ☾.
nalatthaphon.n
nalatthaphon.n
Nalatthaphon
s.suwimon___
s.suwimon___
Suwimon Tohlawan
whxn.wm
whxn.wm
🛼ᴡʜᴀɴ ⤾·˚ ༘ ◡̈
mxprangiiz
mxprangiiz
Prang
chutimahansakun
chutimahansakun
เฟียที่เเปลว่าชุติมา🤓.
por__rrrr
por__rrrr
sukands4
sukands4
นา า เเหละ
flour_koki
flour_koki
โกกิอิอิอิอิิิิิ
khawfangs_
khawfangs_
ข้าวฟ่าง
porchesl
porchesl
P
nongjane2547
nongjane2547
Kocha Korn
hooooodaaaaa_
hooooodaaaaa_
lukkwadd.d
lukkwadd.d
nxngbeam._
nxngbeam._
บๅ บีม
_ss._.cr_
_ss._.cr_
แครอท ท้อ.
wiw_kantima
wiw_kantima
กานติมา ฯ.
ice_cream.yummy_
ice_cream.yummy_
แมววครีมม☆
ril6fk__
ril6fk__
น้องแอ๋อ๊อดๆ🐶
miko_5586
miko_5586
miko
at0mi_shuri
at0mi_shuri
跡美しゅり Atomi Shuri
ecchbkaimccham7
ecchbkaimccham7
ยินดีกับสิ่งที่มี ยินดีกับสิ่งจากไป.ฯ
too_nnnnnnnnn
too_nnnnnnnnn
7
n.namnuxzq_
n.namnuxzq_
น้ำเหนืออออออ.
ice_zyix
ice_zyix
Jureerat
jar_siriwan_
jar_siriwan_
jjann_1502
jjann_1502
JAN_PHATSALA🌷🫶🏻
ze._.iot
ze._.iot
💋
ai_m.03aim
ai_m.03aim
17-Mar
spapan___
spapan___
Baimon
soosia_aa
soosia_aa
เซียร์ จิรัชยา า
_evefy.13
_evefy.13
εїз
kanthida23_
kanthida23_
ใบเตยยยยย
monthira_ll
monthira_ll
M MONTHIRA 💙
film_massri
film_massri
วรรณกานต์ มาศศรี
panthita_25
panthita_25
ปัณฑิตา ฯ.
maili_x1
maili_x1
satang16_10
satang16_10
สตางค์ สุกัญญา
pun_ch05
pun_ch05
น้ำ พั้นช์
aumx_.zx
aumx_.zx
𝗔𝘂𝗺 𓆩 ♡ 𓆪
ueffa__
ueffa__
♡︎Uefa Manthana♡︎
lalita_066
lalita_066
Lalita Krueasaeng
mxmxnt_214
mxmxnt_214
Mint Pakpimon
b_npxx
b_npxx
🌻
jiranan_way
jiranan_way
Jiranan Keanthong
khunphathriiyaa
khunphathriiyaa
คุณ ภัทรียา ฯ.
dilaewkhwamsi
dilaewkhwamsi
พรพิมล ฯ.
i_anajexcl
i_anajexcl
Eing Khub
lx.ligcn01
lx.ligcn01
Łinlaya
nanchanok_bm
nanchanok_bm
Nanchanok kamngam
_iamsuxam07
_iamsuxam07
𝓚𝓹 🫶🏻
s.suwinan27
s.suwinan27
จีจี้
kamxi_11
kamxi_11
Kammm ♡‧₊˚
airsc.cs
airsc.cs
a_air.cs
numpach_15
numpach_15
น้ำ เพชร.
cchaxxntita
cchaxxntita
ᴛɪᴛᴀ
_m.iiewq
_m.iiewq
𐙚
_fayyyyyy_
_fayyyyyy_
≽^- ˕ -^≼
chxmp_.x
chxmp_.x
ชพ
nowny_256
nowny_256
🎀
ja2548_18
ja2548_18
แสง จ้า
sucha_____nan
sucha_____nan
Suchanan Yolai
qurxles_.kz
qurxles_.kz
Pare Jaroensuk
preeda_pon
preeda_pon
Ploy Preedapon
_chxmpont
_chxmpont
เกรซซี่
53.11.14
53.11.14
Anyarin Thaipakdee
oopseif_77
oopseif_77
เอ เรน.💔
mxt1tz_
mxt1tz_
cwkzai_13
cwkzai_13
C
jormkwa.n
jormkwa.n
300550
ii_vaylala
ii_vaylala
Narattanan Jularag
jittranuj
jittranuj
จิตรานุช โต๊ะเงิน
gksnziii
gksnziii
p4xmap_.zz
p4xmap_.zz
Phimapsorn Dokmangua
kaning_ggk
kaning_ggk
🐱
kanyapad.d
kanyapad.d
-
rawipon08
rawipon08
Rawipon Phogaew
bzm.kkk
bzm.kkk
📍12 July
k.alamae_
k.alamae_
Jongkonnee Deemak
_szpcq
_szpcq
Suphitchaya Sukkrai
1lapin.n
1lapin.n
14
pxnass_.zp8
pxnass_.zp8
อย่าเสือก.
aixg_aaa
aixg_aaa
อุ๋งอุ๋ง
p.raphtsorn_.770
p.raphtsorn_.770
Praphtsorn Tadmuang
natnaphin.n04
natnaphin.n04
PO OK
chkhimsaayy
chkhimsaayy
ขิม ม.
txng_x2
txng_x2
𝐒❗️𝐮𝐬𝐢𝐞
p.pam_21
p.pam_21
PARICHAT💐
pancake_09x
pancake_09x
แพน เค้ก.
chutikan_n_n
chutikan_n_n
Aon Aon
airlizx
airlizx
Airlizx
immilk.08
immilk.08
ดัชมิลล์ ฯ.
mo_xf_z
mo_xf_z
Jidapha Boonlom
faqxhiii
faqxhiii
⠀
jirx_pa
jirx_pa
อ๊ะ  เอม
_nitchanan2323
_nitchanan2323
เเบมเเบม
kornkanok.11
kornkanok.11
mynameisnatthanicha
mynameisnatthanicha
Natthanicha ʚĩɞ
p_nuengruethai54
p_nuengruethai54
ปะ  แป้งฯ
supattra.nam
supattra.nam
Supattra Nam
wan_wimol133
wan_wimol133
บอมแบมม🤍
meixp_
meixp_
梅丽
ainia_kn09
ainia_kn09





</div></div></div></span>
                                     </div>

            

            <!-- Post Date -->
            <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
                {% if page.last_modified_at %}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
                </small>
            </p>

     
        </div>
        <!-- End Post -->

    </div>
</div>

