---
layout: default1
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">

        <!-- Post Share -->
        <div class="col-md-2 pl-0">
            {% include share.html %}
        </div>

        <!-- Post -->
        {% assign author = site.authors[page.author] %}

        <div class="col-md-9 flex-first flex-md-unordered">
            <div class="mainheading">

                

                <!-- Post Title -->
                <h1 class="posttitle">{{ page.title }}</h1>

            </div>

            

            <!-- Post Featured Image -->
            {% if page.image %}

            {% if site.lazyimages == "enabled" %}
            <img class="featured-image img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% else %}
            <img class="featured-image img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% endif %}

            {% endif %}
            <!-- End Featured Image -->

            <!-- Post Content -->
            <div class="article-post">
                <!-- Toc if any -->
                {% if page.toc %}
                    {% if page.beforetoc %}
                        <p><em>{{page.beforetoc}}</em></p>
                    {% endif %}
                    <div class="toc mt-4 mb-4 lead">
                        <h3 class="font-weight-bold">Summary</h3>
                        {% include toc.html html=content %}
                    </div>
                {% endif %}
                <!-- End Toc -->
               
                {{content}}

<a id="show_id" onclick="document.getElementById('spoiler_id').style.display=''; document.getElementById('show_id').style.display='none';"></a><span id="spoiler_id" style="display: none;"><a class="link" onclick="document.getElementById('spoiler_id').style.display='none'; document.getElementById('show_id').style.display='';"></a>
<div style="background-color: rgba(0, 0, 0, 0); margin: 1px;">
<div class="smallfont"><i><span style="font-size: 16px; font-weight: bold; margin-right: 3px;"></span></i><input onclick="if (this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display != '') { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = ''; this.innerText = ''; this.value = ''; } else { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = 'none'; this.innerText = ''; this.value = ''; }" style="background-color: #00000000; font-size: 16px; width: auto;" type="button" value="" />
</div>
<div class="alt2" style="background-color: rgba(255, 255, 255, 0); margin: 0px; padding: 0px;">
<div style="display: none;" loading="lazy">






_nugigee_
ɢɢ’ɢɪɢᴇᴇ 🧋
nat_prom45
nat_prom45
🦋
fah_26zx
fah_26zx
🌟
dao_kanogon
dao_kanogon
Kango-on Pengput
18.bamboe_
18.bamboe_
Bam Bow
m_mm.zx
m_mm.zx
มายยยย🌟
parichat_spy
parichat_spy
Parichat Kaewrungruang
nawarat.__
nawarat.__
ฟาฟ่าง💋
raksab_ttcy
raksab_ttcy
phinitchaa
phinitchaa
ya
s__sweetmilk
s__sweetmilk
นมหวาน
c.mew_mew.n
c.mew_mew.n
Chanokchon Mew
kwxng_.01
kwxng_.01
✨𝓚𝔀𝓪𝓷𝓰𝓽𝓾𝓷𝓰🧸
monarch_server
monarch_server
Monarch Community
0,101145833
0,101145833
𝑷𝒊𝒏𝒚𝒐 🐰
icekansuda_
icekansuda_
iceland ໒꒰ྀི ∩ ˃ ᵕ ˂ ∩ ꒱ྀི১
_.plo_y
_.plo_y
_You_🦋
wutsi_ri10
wutsi_ri10
❤️‍🩹
fxker_axy
fxker_axy
Ari3s_.
1eh_2552
1eh_2552
🫤
s.upatt_x
s.upatt_x
Supattarawadee Phonpaka
piiii.lyn
piiii.lyn
หมวย ลิน
biww_8546
biww_8546
บิว’ว ลี่ฯ.
aunchareepron_
aunchareepron_
ดาวเนปจูน น.
skylinewl
skylinewl
˚ ༘♡ .* 𓃠 ˚ ༘
weeraya_225
weeraya_225
ขนมเครป ʚ♡⃛ɞ
rxiyx_
rxiyx_
NU Mie
warisara_srimora
warisara_srimora
Warisara Sri Mora
txwnz_.y
txwnz_.y
𝗔𝗻𝗴𝘅𝗻.𝗻𝘇 🍒
_titaya_21
_titaya_21
♡︎bamboo♡︎
gamjantharapa200_3
gamjantharapa200_3
แก้ม ม.
arisa_damri
arisa_damri
พู่⛅️
aranya_.177
aranya_.177
อรัญญา
sudaaratt_
sudaaratt_
orawan_.nx
orawan_.nx
🐰
ki1chqn
ki1chqn
smile
__s_een__
__s_een__
Porntiwa Puangsamphow
sompan25
sompan25
ส้มแป้นน นน
momyhills
momyhills
𝗠𝗼𝗺𝘆𝗵𝗶𝗹𝗹𝘀♡
_pukkyyyyy
_pukkyyyyy
Puk Qz
y_x_kkkk
y_x_kkkk
_••🐮
t.tan_30
t.tan_30
T
lukyeeezq
lukyeeezq
𝒍𝒖𝒌𝒚𝒆𝒆
bchr_chrs
bchr_chrs
Bencharat Chairangsi
phinplqw
phinplqw
phxn0ry_♡
sxx.kaew
sxx.kaew
ทราย ย.
eyexqtaa_
eyexqtaa_
ธิติกานต์  ต.
_thippawan_05148_
_thippawan_05148_
Thippawan Chombunrod
20.07.50_
20.07.50_
Pimchanok Tongdeenok
aoymtra
aoymtra
ffffffffff_fai24
ffffffffff_fai24
PF
sirasa1112
sirasa1112
Sirasa Srisupan
30pramexq._
30pramexq._
Preamrudee Kanpaichon
painamthip__
painamthip__
ปลาย’ฟ้า 🫧
rattinun.77
rattinun.77
𝗚
xzystragata
xzystragata
xiucantikkk
wora.2011
wora.2011
✎𝐏𝐎𝐍𝐃ᝰ
mansanan_
mansanan_
มนัสนัน‘ ท์
inxmyim
inxmyim
อินอมยิ้ม
n.natthanaree
n.natthanaree
โอปอล์
kiranaqt
kiranaqt
MonkeyDJeeja
suri_yamanee
suri_yamanee
ไอซ์
creamrry
creamrry
ครีมมี่
_kc.mz
_kc.mz
𝗞𝗶𝘁𝘁𝘆 𝗖𝗮𝘁 🐱🎀
yyokqri
yyokqri
yyokqri.
k.slrfilms
k.slrfilms
かっちゃん【縦型ショート動画クリエイター】
nan.w8704
nan.w8704
Wicthayaporn Nan
par.ichatt
par.ichatt
นอนอเนยเนม.🧹
thx_nxvm
thx_nxvm
Nam Punch
jeedjad.st
jeedjad.st
Sajeera theeranert
loogpud_
loogpud_
Aasiara Rattaya
fair_fin6
fair_fin6
Sasikan Fair
itamx28_
itamx28_
แตม‘ตี้
orair_23
orair_23
แอร์ ศรัณภรณ์
niz19q
niz19q
moo.ood
fang2548_
fang2548_
ฟาง จ๋าา.
my_mint.15
my_mint.15
🦋
salisa__31
salisa__31
beaandrearicamata
beaandrearicamata
Bea Andrea Ricamata
woraphan_m
woraphan_m
ข้าว’ วว
_.tangjeen
_.tangjeen
_bxambxs.k
_bxambxs.k
˚꒰ 𝑩𝑼𝑺𝑩𝑨⋄𓍯
__cxllmef0
__cxllmef0
Chitrawan Phaphan
fiat_alicha15
fiat_alicha15
Alicha Prangnok
darikaz_
darikaz_
โมเม
fangtx__
fangtx__
𝙁𝘼𝙉𝙂🌻
nily_2004
nily_2004
Ratchaporn Saokaewkum
ax_1qqqq
ax_1qqqq
❤️‍🩹
chxtika._
chxtika._
ส้มซ่า
aranya_kin
aranya_kin
Aranya🕷
pixd_z
pixd_z
ɪɴɢғʜᴀ 𓇼
im_muay_
im_muay_
sakunrat_2551_
sakunrat_2551_
สกุลรัตน์ ช่วยสม
n1chxyxs
n1chxyxs
นิชามินิมินิดอ
ppsrrrrr
ppsrrrrr
uǝǝs
jechiyaa_
jechiyaa_
blues.n
blues.n
𝐍𝐚𝐭𝐭𝐡𝐚𝐰𝐚𝐝𝐢 𝐊.
sophida_2551
sophida_2551
Sophida Butsaban
chacream.__
chacream.__
ᴄʜᴀᴄʀᴇᴀᴍ ☻
kantrira_
kantrira_
🐷
beembam_2004
beembam_2004
บีม  บาม
ma_mai_12
ma_mai_12
ฉวีวรรณ  ณ.
wxguz_iiy
wxguz_iiy
เวกั้ด
dekmoji_
dekmoji_
Moji.
maybaeppxm
maybaeppxm
POMPAM
yokmanassanann
yokmanassanann
Manassanan Aumheng
paer_yada
paer_yada
PAER💁‍♀️❤️‍🔥
_creammm._
_creammm._
°• Cream •°
gam.txnchx
gam.txnchx
Gam Ⓜ️♡
pxkx_m4
pxkx_m4
😸
mm_tynt
mm_tynt
Thanyarat
immfanta
immfanta
IMFANTA
zx.yamx3
zx.yamx3
อีแยม
y_bamxli
y_bamxli
𝘆𝗕!
pupxx.xz
pupxx.xz
💋
isrung.r
isrung.r
✿ʀᴜɴɢ
mookmxx_
mookmxx_
มุก ก.
nongpetch31
nongpetch31
เพชรลดา า.
annebell_0.1
annebell_0.1
ชื่อ อ เบลล์
10.00.53
10.00.53
nectar.ʚìɞ
noonan_36_
noonan_36_
Nan Nantaporn
jeab_282546
jeab_282546
เจี๊ยบบบ  จี้
kotchakorn_oilly
kotchakorn_oilly
Oilly Sanae
sleepy_zm0
sleepy_zm0
ᎷᎧᎷᎥ ⋆
03.0_.07
03.0_.07
โอเอ็น ไอเอ็น.
__natnichaaaaaaa
__natnichaaaaaaa
ᴀᴇᴍᴍᴍ
__pitchaphon__
__pitchaphon__
Prik Thai
chonticha_ey
chonticha_ey
ชลธิชา สาแชร์
iingoning
iingoning
_noey_2006
_noey_2006
แฟนเจฟ💗
wcyd.mt
wcyd.mt
Hay
ppxping.ky
ppxping.ky
พอ พอ.
ckeay_
ckeay_
กี้
plaaifha_07
plaaifha_07
Nattaporn Maungkaew
ann_phimnara
ann_phimnara
ANN 🐰
imaumkanya
imaumkanya
suphatta53






</div></div></div></span>
                                     </div>

            

            <!-- Post Date -->
            <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
                {% if page.last_modified_at %}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
                </small>
            </p>

     
        </div>
        <!-- End Post -->

    </div>
</div>

