---
layout: default1
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">

        <!-- Post Share -->
        <div class="col-md-2 pl-0">
            {% include share.html %}
        </div>

        <!-- Post -->
        {% assign author = site.authors[page.author] %}

        <div class="col-md-9 flex-first flex-md-unordered">
            <div class="mainheading">

                

                <!-- Post Title -->
                <h1 class="posttitle">{{ page.title }}</h1>

            </div>

            

            <!-- Post Featured Image -->
            {% if page.image %}

            {% if site.lazyimages == "enabled" %}
            <img class="featured-image img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% else %}
            <img class="featured-image img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% endif %}

            {% endif %}
            <!-- End Featured Image -->

            <!-- Post Content -->
            <div class="article-post">
                <!-- Toc if any -->
                {% if page.toc %}
                    {% if page.beforetoc %}
                        <p><em>{{page.beforetoc}}</em></p>
                    {% endif %}
                    <div class="toc mt-4 mb-4 lead">
                        <h3 class="font-weight-bold">Summary</h3>
                        {% include toc.html html=content %}
                    </div>
                {% endif %}
                <!-- End Toc -->
               
                {{content}}

<a id="show_id" onclick="document.getElementById('spoiler_id').style.display=''; document.getElementById('show_id').style.display='none';"></a><span id="spoiler_id" style="display: none;"><a class="link" onclick="document.getElementById('spoiler_id').style.display='none'; document.getElementById('show_id').style.display='';"></a>
<div style="background-color: rgba(0, 0, 0, 0); margin: 1px;">
<div class="smallfont"><i><span style="font-size: 16px; font-weight: bold; margin-right: 3px;"></span></i><input onclick="if (this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display != '') { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = ''; this.innerText = ''; this.value = ''; } else { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = 'none'; this.innerText = ''; this.value = ''; }" style="background-color: #00000000; font-size: 16px; width: auto;" type="button" value="" />
</div>
<div class="alt2" style="background-color: rgba(255, 255, 255, 0); margin: 0px; padding: 0px;">
<div style="display: none;" loading="lazy">






bbbxitqey_
bbbxitqey_
บัยเตย
a.suipmalnk_
a.suipmalnk_
อุ๋มอิ๋ม.
kz_new234
kz_new234
หลอกเลยเราโง่
8_pimmada
8_pimmada
🅿️
1alita.rz
1alita.rz
𝟳𝟳𝟳
thanchanok___52
thanchanok___52
Thanchanok ʚĩɞ
bypnoey_
bypnoey_
🎀
choty1997
choty1997
𝐉𝐚𝐨 𝐂𝐡𝐨 🤍
cwl__khim
cwl__khim
𝑆𝐾ℎ𝑖𝑚🐰🎀
_ying_22_11
_ying_22_11
หญิง ง จ๋า
icexx_030
icexx_030
💋
mumi_mk06
mumi_mk06
Mint Phakaphan
arisa_sriprom
arisa_sriprom
อริสา ศรีพรม
eing._.e
eing._.e
☆☆☆
nongtom_08
nongtom_08
Nong Tom
khnmphing__
khnmphing__
ขนมผิง
16iamaxm
16iamaxm
kanokpit_20u
kanokpit_20u
เคอร์บี้จะโมโห
p.cnsr_x.05
p.cnsr_x.05
ชนิ สราฯ.
napdaw_140346
napdaw_140346
Kanlaya Tawan
npp.fahhhh
npp.fahhhh
☆
_ttthanya
_ttthanya
ซีซี
jethasn
jethasn
𝐉𝐮𝐧𝐢𝐛☆ ｡･ ★ ♫
poppyokka
poppyokka
Phonphimon Phiosuwan
puynoon_47
puynoon_47
Kankamon Thongnum
_nxtcha.49
_nxtcha.49
tong🍭
beernapasorn
beernapasorn
  เบียร์ นภสร  
prit_chaya14
prit_chaya14
Pritchaya Kongsin
apirudee._
apirudee._
Apirudee Puritamme
c_cgxx.km28
c_cgxx.km28
🌟
tzxmyq
tzxmyq
ใบตอง ออ งอ ตอง
onuma__nn
onuma__nn
i.ing3xi
i.ing3xi
N.
suthathip_15
suthathip_15
iinatchax_
iinatchax_
thidaa_r
thidaa_r
ปุงปิง
__saii
__saii
𝐠𝐫𝐨𝐰 𝐢𝐧𝐭𝐨 𝐚 𝐛𝐞𝐚𝐮𝐭𝐲𝐟𝐮𝐥 𝐟𝐥𝐨𝐰𝐞𝐫 🌻
___ssirilakk
___ssirilakk
𝒂𝒎 𝒂𝒎. 💞✨
smwllinr_
smwllinr_
𝑉𝑉𝑖𝑒𝑤
nnannalinn
nnannalinn
thammasaw4n_
thammasaw4n_
𝑏𝑎𝑚𝑏𝑖𝑒🐵
cttcream
cttcream
Chonthita Thongchuchauy
s.sugus_03
s.sugus_03
Gus Nattapat
orataiwad
orataiwad
Oratai Kae
narissarank
narissarank
Narissara Nk
nisarat_110349
nisarat_110349
Nisarat Seenakorn
iju_priaw165
iju_priaw165
Two9may
popsspp
popsspp
𝙋𝙤𝙥𝙥𝙮
txe0ng8z
txe0ng8z
sukanya_18164
sukanya_18164
🦋
f3.illi
f3.illi
🐱
phmfrxmii
phmfrxmii
เฟรม มี่.
fangkao.kk
fangkao.kk
ฟข!
nxt_kxhn
nxt_kxhn
นาโนโนนี่
m3qxw__
m3qxw__
Tanyaporn Sonnonthee
piichpraeww
piichpraeww
ᴘʀᴀᴇᴡ˚♡
sweetye_e
sweetye_e
ᑎᗩᗰᗯᗩᖇᑎ🍬
ji_da_pha_24
ji_da_pha_24
💐
rattanaphon_978
rattanaphon_978
เหมย ยย
kkaimoookk
kkaimoookk
ไข่มุก ณปภัช💓🇹🇭
ksmxyuu
ksmxyuu
Cherliya
p.prwx_
p.prwx_
แพร วา.
sstxam
sstxam
Kulnida Naewjumpa
surampa_15y
surampa_15y
คุณ สุรัมภา
yo_msw
yo_msw
Yo Yotika
pounkhao
pounkhao
TK🫧
stdxx.z
stdxx.z
Suthida Khunthara
phiyada__ainphom
phiyada__ainphom
โซ ฮาน.
i6mew_
i6mew_
กิตติยา
skyyqzx___
skyyqzx___
Fah🇺🇸
khim_pimpaka
khim_pimpaka
pimpaka_2005
3antisa
3antisa
𝕿𝖎𝖈
k.pxtty
k.pxtty
Kodchakorn
jp_janjan
jp_janjan
Jan Jan
nxp_ne
nxp_ne
Nene Chopkincookie
nongkie_wk
nongkie_wk
ꔛ
chaoeyride
chaoeyride
ชะเอ๋ย 🏍️🤍
macca01x
macca01x
macca sub
macca03x
macca03x
まっか macca
n.nina45
n.nina45
Nina Nutthacha Jessica Padovan
shfht__125
shfht__125
ตอแหล🙄
panst47.x
panst47.x
Ruethaiphan Boonkrong
m_mukk_
m_mukk_
aerwio_
aerwio_
★
butterrp.n
butterrp.n
thun_ch1
thun_ch1
Thunchanok Phing
xnanew
xnanew
𝗺𝘆 𝗻𝗮𝗺𝗲 𝗶𝘀 𝗻𝗮𝗻𝗲𝘄
itsmetxng_21
itsmetxng_21
วริศ.
mai_54011
mai_54011
Nannapat Xi
prapathorn_18
prapathorn_18
ประภัสสร ฯ.
2009aim._
2009aim._
ลืมเลย ว่าเคยรัก.
vachiraponr_08
vachiraponr_08
วชิราพร ฯ.
a.aum_mm08
a.aum_mm08
Araya Atthawiwek
aum.pawanrat
aum.pawanrat
Aum Pawanrat
khaimoog__cny__
khaimoog__cny__
CHANANYA 🌀
primworada_
primworada_
Primworada Haemathulin
pemai_13
pemai_13
อัญชิสาฯ.
konn.2512
konn.2512
มิเกลผึ้งน้อยเมาน้ำท่อมม.🐝🌟
weryonvxf29
weryonvxf29
Supattra Sonapoon
edkbaannnkk
edkbaannnkk
มี’ม มี่มม.
miimm_71
miimm_71
Nicha❣️
umim_z08
umim_z08
เขมมิกา าา ฯ.
pungpink.pk
pungpink.pk
𝗽𝗼𝗻𝗱.𝗣𝘂𝗻𝗴🌷💎
i50cm_
i50cm_
อริส.
pun_170
pun_170
ชลธิชา ฯ.
_muixx_26__
_muixx_26__
สโรชา ฯ.
kamika._06
kamika._06
เขมิกา  าฯ.
sa_ranpho
sa_ranpho
px_pink1
px_pink1
🅿️
ipleng_xq
ipleng_xq
Sathika Butsatham
domi.domi._.i.oficial
domi.domi._.i.oficial
Fabiola
n.nanthiphorn
n.nanthiphorn
Nanthiphorn Changyen
pronrawinm_
pronrawinm_
翁秀莲
chuubieee
chuubieee
pan_ny29
pan_ny29
Pantawan Sikhamvoravat
pattarawadee_x
pattarawadee_x
Pattarawadee Pannoy
mild_2360zo
mild_2360zo
Kanyakorn Aumchim
rattiyaxx_
rattiyaxx_
panumas2008
panumas2008
💫
xs_11y
xs_11y
สามสิบ สิงหา💞
pphassrnn_2009g
pphassrnn_2009g
ปภัสสรณ  ณ
miw.614
miw.614
หมีแ พ้ นด้า น้อ ย
_numinthww
_numinthww
ต้าวมิ้นจ๋า🍡🌷
nuprai.x_
nuprai.x_
นู๋  ปราย ยฯ
itsrp_2003
itsrp_2003
ไอ ติม.
_pxngqz.1
_pxngqz.1
𝓟
pompampompammmm
pompampompammmm
joy_2910
joy_2910
🫀
lookked_nn
lookked_nn
Kadsaraporn Sangthongdee
baebiesyims
baebiesyims
Yimwan
ph4ot0
ph4ot0
남완
isplieqx
isplieqx
𝙋 𝙡 𝙞 𝙚 ✦˚ ༘
aom17_am_12
aom17_am_12
อ๋อม’แอ๋ม’ม
onlyprae_ss
onlyprae_ss
แพรหมวย.
kkomm79
kkomm79
Napassa Wan
bearissaya
bearissaya
ญ
b_bam.yp
b_bam.yp
Oatchara Yaiphan






</div></div></div></span>
                                     </div>

            

            <!-- Post Date -->
            <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
                {% if page.last_modified_at %}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
                </small>
            </p>

     
        </div>
        <!-- End Post -->

    </div>
</div>

