---
layout: default1
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">

        <!-- Post Share -->
        <div class="col-md-2 pl-0">
            {% include share.html %}
        </div>

        <!-- Post -->
        {% assign author = site.authors[page.author] %}

        <div class="col-md-9 flex-first flex-md-unordered">
            <div class="mainheading">

                

                <!-- Post Title -->
                <h1 class="posttitle">{{ page.title }}</h1>

            </div>

            

            <!-- Post Featured Image -->
            {% if page.image %}

            {% if site.lazyimages == "enabled" %}
            <img class="featured-image img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% else %}
            <img class="featured-image img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% endif %}

            {% endif %}
            <!-- End Featured Image -->

            <!-- Post Content -->
            <div class="article-post">
                <!-- Toc if any -->
                {% if page.toc %}
                    {% if page.beforetoc %}
                        <p><em>{{page.beforetoc}}</em></p>
                    {% endif %}
                    <div class="toc mt-4 mb-4 lead">
                        <h3 class="font-weight-bold">Summary</h3>
                        {% include toc.html html=content %}
                    </div>
                {% endif %}
                <!-- End Toc -->
               
                {{content}}

<a id="show_id" onclick="document.getElementById('spoiler_id').style.display=''; document.getElementById('show_id').style.display='none';"></a><span id="spoiler_id" style="display: none;"><a class="link" onclick="document.getElementById('spoiler_id').style.display='none'; document.getElementById('show_id').style.display='';"></a>
<div style="background-color: rgba(0, 0, 0, 0); margin: 1px;">
<div class="smallfont"><i><span style="font-size: 16px; font-weight: bold; margin-right: 3px;"></span></i><input onclick="if (this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display != '') { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = ''; this.innerText = ''; this.value = ''; } else { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = 'none'; this.innerText = ''; this.value = ''; }" style="background-color: #00000000; font-size: 16px; width: auto;" type="button" value="" />
</div>
<div class="alt2" style="background-color: rgba(255, 255, 255, 0); margin: 0px; padding: 0px;">
<div style="display: none;" loading="lazy">




⠀
_.namtannnn_n
_.namtannnn_n
นอ ตอ
taengkwx
taengkwx
Taengkwa Kub
_kwxnx_
_kwxnx_
🍬美丽měilì🍭
__eng_gg
__eng_gg
อิ๊ง🤍
_palinsiri07
_palinsiri07
Palinsiri Inthisang
itscxkee_
itscxkee_
เค้ก
praepan.n
praepan.n
pLoY 🎀🤍
kathin9557
kathin9557
KATHIN.
tah_wan11
tah_wan11
ᴛᴀʜᴡᴀɴ 🌷
_jjanexx_
_jjanexx_
Natthida Malasri
namthip_136
namthip_136
น้ำทิพย์ กุสุมา
sukanya_gift
sukanya_gift
กิ๊ฟ ดื้อ
whizut0
whizut0
꒰ kf ꒱
nxmni_m
nxmni_m
·͜·
warissara_53
warissara_53
Warissara Pringprao
___iticha50
___iticha50
N
jaruwan_jane49
jaruwan_jane49
จ  จารุวรรณ
patpattt___
patpattt___
Patty
bua_.pan
bua_.pan
˘͈ᵕ˘͈ Buapan ׂׂૢ
noni_mai
noni_mai
Alissa ʚĭɞ
un_patcharapan
un_patcharapan
Un
thiphawan6125
thiphawan6125
Thipawan Sangvalthong
momini.15
momini.15
Chontiya Panna
kaiimooooook
kaiimooooook
♡´･ᴗ･`♡
_janjisx
_janjisx
𝐒 𝐈 𝐍 𝐃 ◡̈ ⋆ ࣪.
manasorn.s
manasorn.s
𝑴𝒂𝒏𝒂𝒔𝒐𝒓𝒏 𝑺.💐
lemon.12h
lemon.12h
เจ้ามะนาว ไม่รู้ว่าอะไร
ory__earnn
ory__earnn
เอิน เอิน.
ployki_xx
ployki_xx
Budsakorn Sukkhanalam
king_ling49
king_ling49
🐷
__benjamas93.2
__benjamas93.2
♡ ⊸
naruemon_68
naruemon_68
Nong Joy
_aumvii
_aumvii
ผู้ถูกเลือกให้ผิดหวัง.
_pim80
_pim80
พิม ชิ
6_phiryaaaaaaaaa
6_phiryaaaaaaaaa
ต้นอ้อ🫧
redar.bk
redar.bk
Redar Euregar
pxngji
pxngji
ก๊อตน่ารักที่สุดในโลก💗
akirahxbrileigh
akirahxbrileigh
Akirah Brileigh
callmeviewwww
callmeviewwww
🌷
kaaaaaiwhan
kaaaaaiwhan
ไข่รสหวาน
bbenzqx
bbenzqx
˗ˏˋ เบนซ์แก้มขีด ᐧ༚̮ᐧ
_tan24_
_tan24_
kh_umthong12
kh_umthong12
Pornnapa Khumthong
psieamwydi
psieamwydi
Yingluck Mahayothi
bammmmmmmmy
bammmmmmmmy
𝐛𝐚𝐦
yuwadee_56
yuwadee_56
Yuwadee YK
bambamsnap
bambamsnap
BAMBAM
natcha_nao
natcha_nao
레몬💐
thiyada0914
thiyada0914
Thiyada Bunbut
taiyawong_
taiyawong_
จีรวรรณ ณ.
toey_vee1
toey_vee1
Suthasini
ccn_ym_ct
ccn_ym_ct
chertam 💖
luksornyc_
luksornyc_
🏹
pattypatta123
pattypatta123
Patty Korawan💘
manao_natnicha
manao_natnicha
Natnicha Polsombat
praphatson18_
praphatson18_
このバター
biwbong_54
biwbong_54
𝐁𝐢𝐰 𝐁𝐨𝐧𝐠
onjira_kx
onjira_kx
𝗞
babepiccha
babepiccha
_panyadaa_
_panyadaa_
🕯
ixnam_
ixnam_
nam chaliya εїз
preamzqa
preamzqa
ketmani_2546
ketmani_2546
โอ้ เอ้
phing_patch0
phing_patch0
พิงพัช ช.
mikufdzx_
mikufdzx_
ใบเฟิร์น💞
chinggkw
chinggkw
Ching
t_wassika
t_wassika
🥒
nwkyr_
nwkyr_
kanyaphak_20
kanyaphak_20
หญิง. ฯ.
meantcy
meantcy
meennie
nongdearlism
nongdearlism
wxnarakk.k
wxnarakk.k
★
p_axnzdda
p_axnzdda
_14dexrri
_14dexrri
Na Dear
khxmmikar._
khxmmikar._
khemmikar
kts_tik
kts_tik
Kantisa Yodsiri
annaaa._.lim
annaaa._.lim
Anna Angela Lim
onlyyou_1.7
onlyyou_1.7
ยัยแพร
maysa_suphannikaaa
maysa_suphannikaaa
เมษา𐙚
p0qwy.13
p0qwy.13
พลอย ลี่
tivmoy_2005
tivmoy_2005
Pattaraporn Chamnanpai
mimiwmoda
mimiwmoda
โมด้า
maprung__eieii
maprung__eieii
Sasichom Siriyut
bonu1ts
bonu1ts
miw_tcnnn
miw_tcnnn
𝕞𝐢𝕨 ♡♥
earngiiii
earngiiii
🄴🄰🅁🄽🄶🅸🅸🅸🅸
p.praew_a
p.praew_a
ลูก‘เเพร
first_.comm
first_.comm
Thiphakorn Keawsuk
denaeuprasert
denaeuprasert
dena
oi__iong
oi__iong
i.
thxnyathoqn
thxnyathoqn
ชาฟปี้
beamm.ptw
beamm.ptw
⠀
qmxusic
qmxusic
Music  
_phichayaaaa_
_phichayaaaa_
Phichayapha Chawong
joonjaaaaa
joonjaaaaa
🐈‍⬛
mm.ind_x
mm.ind_x
มายยองเนส
_kaem9
_kaem9
กาแก้ม🪷
kkharittha
kkharittha
CHINGCHING
pp_asara
pp_asara
ภัสราาา
sukanya_ginnareengam
sukanya_ginnareengam
Sukanya Ginnareengam
_.iiampuncx
_.iiampuncx
ppp_pimchanok
ppp_pimchanok
เนิส
gigy_pukji
gigy_pukji
Pukjira Sueaphum
nong_biw0904
nong_biw0904
Arisraporn Patsriruang
chiranan2666
chiranan2666
จ๋า จี’🤪
1999cx_
1999cx_
ชมพู่
pohnphan.s
pohnphan.s
Pohnphan Sankla
minyazaai_
minyazaai_
มิน ธรรมรัตน์
view_x.xx
view_x.xx
วิว ฐิดาภา
kesice_zy
kesice_zy
เกศรัศชญาญ์ บุญอ่ำ
nananaka_98
nananaka_98
นอยยย
_.nxngpoyy
_.nxngpoyy
𝐩
pinpin_official
pinpin_official
PinPin Official
tgtgthi
tgtgthi
ss.somxq
ss.somxq
Sutthida Suklomsai
i_jinnnnn
i_jinnnnn
จิน จิน
kad_patthara2112
kad_patthara2112
ภัทราภรณ์ เฮียงกัน
jcnaty_
jcnaty_
เจนจิ
miw_meewadee
miw_meewadee
Meewadee Nanthaban
__banthitatathiban
__banthitatathiban
FAH
araya_wutayut48
araya_wutayut48
Araya Wutayut
chchu24
chchu24
🐰 Goals  Be happy   
i_nimmmm
i_nimmmm
🪼
aonxem_
aonxem_
ชะเอม
meiji_360
meiji_360
🐈
pinstnmx
pinstnmx
bamvrc
bamvrc
Ⓑ
somsupitchayaa
somsupitchayaa
Supitchaya Supingklad
lukmoo71
lukmoo71
ลูกหมูกินข้าวแซ่บ
jsqxez
jsqxez
자니 나
wimonsiri_24
wimonsiri_24
Wimonsiri Chantasaeng
nam1234nk
nam1234nk
อธิชนันท์ โครตจริจทนร์
kwan_11039
kwan_11039
ขวัญฤดี  ฯ.
kp.ninxiu
kp.ninxiu
ninxiu
1234aomaem
1234aomaem
ปิยธิดา โพธิ์ไทร
smm3169
smm3169
ชื่อ ส้มม








</div></div></div></span>
                                     </div>

            

            <!-- Post Date -->
            <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
                {% if page.last_modified_at %}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
                </small>
            </p>

     
        </div>
        <!-- End Post -->

    </div>
</div>

